<div class="container">
    <div class="row">
        <h2>Sponsoren</h2>
        <div class="flex" style="flex-flow: row nowrap; justify-content: space-evenly; gap: 2em;">
            <!-- @for (item of voorstellingen(); track $index) {
    <img mat-card-image style="width: 10em; height: 10em;"
        [src]="getImageUrl(item.collectionId, item.id, item.afbeelding)" alt="voorstelling afbeelding">
    } -->
            <img mat-card-image style="width: 10em; height: 10em;" src="assets/Cloos-vrije-vogel.jpg"
                alt="voorstelling afbeelding"><img mat-card-image style="width: 10em; height: 10em;"
                src="assets/Cloos-vrije-vogel.jpg" alt="voorstelling afbeelding"><img mat-card-image
                style="width: 10em; height: 10em;" src="assets/Cloos-vrije-vogel.jpg" alt="voorstelling afbeelding"><img
                mat-card-image style="width: 10em; height: 10em;" src="assets/Cloos-vrije-vogel.jpg"
                alt="voorstelling afbeelding"><img mat-card-image style="width: 10em; height: 10em;"
                src="assets/Cloos-vrije-vogel.jpg" alt="voorstelling afbeelding">
        </div>
    </div>
</div>

<div class="links" style="display:flex; flex-flow: row wrap; justify-content: space-evenly;">
    <div class="col-4 link-row">
        <h2>Adres</h2>
        <p>
            De Schalm, Orangjelaan 10 <br>
            3454 BT, De Meern
        </p>
    </div>
    <div class="col-4 link-row">
        <h2>Links</h2>
        <ul>
            <li>Reserveren</li>
            <li>Lid worden</li>
            <li>Contact</li>
            <li>Privacy beleid</li>
        </ul>
    </div>
    <div class="col-4 link-row">
        <h2>Social Media</h2>
        <ul>
            <li>Facebook</li>
            <li>X (Twitter)</li>
        </ul>
    </div>
</div>

<div class="privacy">
    <a href="/PrivacyBeleid">Privacybeleid</a><span>&nbsp;/&nbsp;&#64;2024 Tovedem</span>
</div>