.row {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.links {
  padding-top: 2em;
  background-color: black;
  color: white;
}

.link-row {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.privacy {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  background-color: #232323;
  color: white;
  a {
    color: white;
    :visited {
      color: white;
    }
  }
}

img {
  border-radius: 1em;
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
}

.sponsor-image {
  flex: 0;
  max-height: 10em;
  width: auto;
  margin: 0.5em;
  // width: 200px;
  // height: 200px;
}

.container {
  padding-bottom: 0;
}
