<div class="container mat-elevation-z2">
    <h2>Sponsoren</h2>
    <div class="row" style="justify-content: space-evenly;">
        <img mat-card-image class="sponsor-image col-2" src="assets/Cloos-vrije-vogel.jpg">
        <img mat-card-image class="sponsor-image col-2" src="assets/Cloos-vrije-vogel.jpg">
        <img mat-card-image class="sponsor-image col-2" src="assets/Cloos-vrije-vogel.jpg">
        <img mat-card-image class="sponsor-image col-2" src="assets/Cloos-vrije-vogel.jpg">
        <img mat-card-image class="sponsor-image col-2" src="assets/Cloos-vrije-vogel.jpg">
    </div>
</div>

<div class="container-fluid links" style=" display:flex; flex-flow: row wrap; justify-content: space-evenly;">
    <div class="col-4 link-row">
        <h2>Adres</h2>
        <p>
            De Schalm, Orangjelaan 10 <br>
            3454 BT, De Meern
        </p>
    </div>
    <div class="col-4 link-row">
        <h2>Links</h2>
        <ul>
            <li>Reserveren</li>
            <li>Lid worden</li>
            <li>Contact</li>
            <li>Privacy beleid</li>
        </ul>
    </div>
    <div class="col-4 link-row">
        <h2>Social Media</h2>
        <ul>
            <li>Facebook</li>
            <li>X (Twitter)</li>
        </ul>
    </div>
</div>

<div class="container-fluid privacy" style="">
    <a href="/PrivacyBeleid">Privacybeleid</a><span>&nbsp;/&nbsp;&#64;2024 Tovedem</span>
</div>