<div class="row">
  <mat-form-field class="pt-2">
    <mat-select placeholder="Selecteer een voorstelling" (selectionChange)="setSelectedVoorstelling($event)"
    [value]="selectedVoorstelling()">
      @for (voorstelling of voorstellingen(); track $index) {
      <mat-option [value]="voorstelling">{{ voorstelling.titel }} -
        {{ voorstelling.datum_tijd_1 | date: "dd-MM-YYYY" }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (
  selectedVoorstelling(); as selectedVoorstelling
  && reserveringenOfSelectedVoorstelling().length > 0
  ) {
  <div style="display: flex; gap: 1em;">
    <div style="flex:1;">
      <mat-card class="center-items" appearance="outlined">
        <h2>
          {{ selectedVoorstelling.datum_tijd_1 | date: "dd-MM-YYYY" }}
        </h2>
        <app-pie-chart [series]="seriesDatum1()" [labels]="labels()"></app-pie-chart>
      </mat-card>
    </div>
    <div style="flex:1;">
      <mat-card class="center-items" appearance="outlined">
        @if (selectedVoorstelling.datum_tijd_2; as datum_tijd_2) {
        <h2 class="text-center">
          {{ datum_tijd_2 | date: "dd-MM-YYYY" }}
        </h2>
        <app-pie-chart [series]="seriesDatum2()" [labels]="labels()">
        </app-pie-chart>
        } @else {
        Geen tweede datum
        }
      </mat-card>
    </div>
  </div>

  <div class="col-12 pt-2">
    <mat-form-field style="display: flex;">
      <mat-label>Zoek naar reservatie</mat-label>
      <input type="text" aria-label="Number" matInput [formControl]="reservatieSearchControl"
        [matAutocomplete]="auto"  />
      @if (reservatieSearchControl.value) {
      <button matPrefix mat-icon-button aria-label="Clear" (click)="clearReservatieSearch()">
        <mat-icon>close</mat-icon>
      </button>
      } @else {
        <mat-icon matPrefix>search</mat-icon>
      }
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="setSelectedOption($event.option.value)">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">
          {{ option.voornaam }} - {{ option.achternaam }} -
          {{ option.email }}
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    @if (selectedOption(); as item) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>
        Reservering van: {{ item.voornaam }} {{ item.achternaam }}
        </h2>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ selectedVoorstelling.datum_tijd_1 | date: "dd-MM-YYYY" }}</th>
              <th scope="col">{{ selectedVoorstelling.datum_tijd_2 | date: "dd-MM-YYYY" }}</th>
              <th scope="col">Voornaam</th>
              <th scope="col">Achternaam</th>
              <th scope="col">Email</th>
              <th scope="col">Datum 1 Aantal</th>
              <th scope="col">Datum 2 Aantal</th>
              <th scope="col">Vriend</th>
              <th scope="col">Lid</th>
            </tr>
          </thead>
          <tbody>
        <tr>
          <td>
            <mat-checkbox
              (change)="onCheckboxChange(item, 1)"
              [color]="'primary'" [checked]=item.aanwezig_datum_1>
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox
              (change)="onCheckboxChange(item, 2)"
              [color]="'primary'" [checked]=item.aanwezig_datum_2>
            </mat-checkbox>
          </td>

          <td>{{ item.voornaam }}</td>
          <td>{{ item.achternaam }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.datum_tijd_1_aantal }}</td>
          <td>{{ item.datum_tijd_2_aantal }}</td>

          <td>
            <mat-checkbox [color]="'primary'" [checked]="item.is_vriend_van_tovedem" disabled>
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox [color]="'primary'" [checked]="item.is_lid_van_vereniging" disabled>
            </mat-checkbox>
          </td>
        </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <div class="col-12 pt-2">
    <mat-card appearance="outlined">
    <mat-card-header>
      <h2>
      Reserveringen
      </h2>
    </mat-card-header>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ selectedVoorstelling.datum_tijd_1 | date: "dd-MM-YYYY" }}</th>
          <th scope="col">{{ selectedVoorstelling.datum_tijd_2 | date: "dd-MM-YYYY" }}</th>
          <th scope="col">Voornaam</th>
          <th scope="col">Achternaam</th>
          <th scope="col">Email</th>
          <th scope="col">Datum 1 Aantal</th>
          <th scope="col">Datum 2 Aantal</th>
          <th scope="col">Vriend</th>
          <th scope="col">Lid</th>
        </tr>
      </thead>
      <tbody>
        @for (item of reserveringenOfSelectedVoorstelling(); track $index) {
        <tr>
          <td>
            <mat-checkbox
              (change)="onCheckboxChange(item, 1)"
              [color]="'primary'" [checked]=item.aanwezig_datum_1>
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox
              (change)="onCheckboxChange(item, 2)"
              [color]="'primary'" [checked]=item.aanwezig_datum_2>
            </mat-checkbox>
          </td>

          <td>{{ item.voornaam }}</td>
          <td>{{ item.achternaam }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.datum_tijd_1_aantal }}</td>
          <td>{{ item.datum_tijd_2_aantal }}</td>

          <td>
            <mat-checkbox [color]="'primary'" [checked]="item.is_vriend_van_tovedem" disabled>
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox [color]="'primary'" [checked]="item.is_lid_van_vereniging" disabled>
            </mat-checkbox>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </mat-card>
  </div>

  <div class="col-12 pt-2">
    <mat-card appearance="outlined">
    <mat-card-header>
        <h2>
        Losse verkoop
        </h2>
    </mat-card-header>
    <mat-card-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Aantal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of losseVerkoopOfSelectedVoorstelling(); track $index) {
          <tr>
            <td>{{ (item.datum == 'datum1' ? selectedVoorstelling.datum_tijd_1 : selectedVoorstelling.datum_tijd_2) | date: "dd-MM-YYYY" }}</td>
            <td>{{ item.aantal }}</td>
            <td><button mat-icon-button (click)="deleteLosseVerkoop(item)">
              <mat-icon color="warn">delete</mat-icon>
            </button></td>
          </tr>
          }
        </tbody>
      </table>

      <button mat-fab extended color="primary" (click)="addLosseVerkoop()">
        <mat-icon>add_circle</mat-icon>
        Toevoegen
      </button>
    </mat-card-content>
    </mat-card>
  </div>

  } @else {
  <div class="row">
    <mat-card class="center-items m-3 p-3" appearance="outlined">
      Selecteer een voorstelling hierboven!
    </mat-card>
  </div>
  }
</div>
