.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #1a1d24;
    color: #e8e9eb;
    padding: 2em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(125, 179, 232, 0.1);
}

.cookie-banner-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    
    .cookie-banner-text {
        color: #e8e9eb;
        
        p {
            color: #e8e9eb;
            margin: 0;
        }
    }
}

.cookie-banner-buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

button {
    align-self: flex-end;

    &.accept {
        background-color: #1aab3a;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    &.reject {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}