<div class="container col-lg-6 col-md-8 col-12 mat-elevation-z2">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="display-3 mt-4 ">Welkom,</div>
        </div>
    </div>

    <div class="row">
        <div
            class="d-flex flex-column align-items-center justify-content-center">
            <div class="display-6">
                {{ user()?.name }}
            </div>
            <img
                style="max-height: 10em; border-radius: 1em;"
                [src]="'https://api.dicebear.com/7.x/thumbs/svg?seed='+user()?.name+'&backgroundColor=f1f4dc,f88c49,ffd5dc,ffdfbf,d1d4f9,c0aede&backgroundType=gradientLinear&shapeColor=69d2e7,f1f4dc,f88c49'"
                alt="avatar">
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="display-5">Wat wil je doen?</div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-xl-6 col-12 d-flex">
            @if (authService.isLoggedIn())
            {
            @if (sideDrawerService.isOpen()) {
            <button class="flex-grow-1" mat-raised-button
                (click)="toggle()">
                <mat-icon>menu_open</mat-icon>
                Sluit leden paneel</button>
            } @else {
            <button class="flex-grow-1" mat-raised-button
                (click)="toggle()">
                <mat-icon>menu</mat-icon>
                Open leden paneel</button>
            }
            }
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-xl-6 col-12">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Gegevens inzien </mat-panel-title>
                    <mat-panel-description>
                        {{ user()?.name }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list role="list">

                    <mat-list-item role="listitem">
                        <b>Echte naam:</b> {{ user()?.name }}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Account naam:</b> {{ user()?.username }}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Rollen:</b> {{userRoles()}}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Groep:</b> {{user()?.expand?.groep?.naam ??
                        "n.v.t."}}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Uniek ID:</b> {{ user()?.id }}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Aangemaakt op:</b>
                        {{ user()?.created | date : "dd LLLL YYYY" }}
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <b>Laatst aangepast:</b>
                        {{ user()?.updated | date : "dd LLLL YYYY" }}
                    </mat-list-item>
                </mat-list>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Rauwe gegevens
                            inzien</mat-panel-title>
                    </mat-expansion-panel-header>
                    <pre>
                        {{ user() | json }}
                    </pre>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="row d-flex flex-grow-1 mt-4">
        <div class="d-flex justify-content-center">
            <button mat-flat-button color="primary" (click)="logout()"
                class="col-xl-6 col-12">
                Log uit
            </button>
        </div>
    </div>
</div>