:host {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  padding: 4em;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.container {
  max-width: 100%;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.welkom-titel {
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}

mat-expansion-panel {
  width: auto;
  max-width: 100%;
}

.action-card {
  @media (max-width: 768px) {
    mat-card-title {
      font-size: 0.8rem;
    }
  }
}

.action-card {
  color: var(--mat-sys-primary);
  padding: 0.5rem;
  border-radius: 1em;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;

  &:hover {
    color: white;
    cursor: pointer;
    background-color: var(--mat-sys-primary);
    transform: translateY(-4px);
  }

  .actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.reserveringen-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.reservering-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-card-content {
    flex-grow: 1;
  }

  mat-card-actions {
    margin-top: auto;
  }
}
