:host {
  padding: 4em;
}

mat-expansion-panel {
  width: auto;
}

.action-card {
  color: var(--mat-sys-primary);
  padding: 0.5rem;

  &:hover {
    color: white;
    cursor: pointer;
    background-color: var(--mat-sys-primary);
    transition: background-color 0.1s ease;
    transition: color 0.1s ease;
  }

  border-radius: 1em;

  .actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.open-leden-paneel-btn {
  border: 2px solid var(--mat-sys-primary) !important;
  border-radius: 4px;
}
