<div class="container header">
  @if (!!existingVoorstelling) {
  <h2 mat-dialog-title class="display-4">Voorstelling Aanpassen</h2>
  } @else {
  <h2 mat-dialog-title class="display-4">Voorstelling Aanmaken</h2>
  }
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container p-4">
  <div class="row">
    <form>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Titel</mat-label>
          <input
            matInput
            type="text"
            tabindex="0"
            [field]="voorstellingForm.titel"
          />
          @if (voorstellingForm.titel().touched() &&
          voorstellingForm.titel().invalid()) { @for (error of
          voorstellingForm.titel().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Ondertitel</mat-label>
          <input
            matInput
            type="text"
            [value]="ondertitelValue()"
            (input)="updateOndertitel($any($event.target).value)"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3 col-6">
          <mat-label>Datum 1</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [field]="voorstellingForm.datum1"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          @if (voorstellingForm.datum1().touched() &&
          voorstellingForm.datum1().invalid()) { @for (error of
          voorstellingForm.datum1().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
        <mat-form-field class="col-md-3 col-6">
          <mat-label>Tijd 1</mat-label>
          <input
            matInput
            type="time"
            [field]="voorstellingForm.tijd1"
            step="60"
          />
          @if (voorstellingForm.tijd1().touched() &&
          voorstellingForm.tijd1().invalid()) { @for (error of
          voorstellingForm.tijd1().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
        <mat-form-field class="col-md-3 col-6">
          <mat-label>Datum 2</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [field]="voorstellingForm.datum2"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-6">
          <mat-label>Tijd 2</mat-label>
          <input
            matInput
            type="time"
            [field]="voorstellingForm.tijd2"
            step="60"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Groep</mat-label>
          <mat-select [field]="voorstellingForm.selectedGroep">
            @for (groep of groepen(); track $index) {
            <mat-option [value]="groep">{{ groep.naam }}</mat-option>
            }
          </mat-select>
          @if (voorstellingForm.selectedGroep().touched() &&
          voorstellingForm.selectedGroep().invalid()) { @for (error of
          voorstellingForm.selectedGroep().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Spelers</mat-label>
          <mat-select multiple [field]="voorstellingForm.selectedSpelers">
            @for (speler of spelers(); track $index) {
            <mat-option [value]="speler">{{ speler.naam }} </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Beschikbare stoelen datum 1</mat-label>
          <input
            matInput
            type="number"
            [field]="voorstellingForm.beschikbare_stoelen_datum_tijd_1"
          />
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Beschikbare stoelen datum 2</mat-label>
          <input
            matInput
            type="number"
            [field]="voorstellingForm.beschikbare_stoelen_datum_tijd_2"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Publicatie datum</mat-label>
          <input
            matInput
            [matDatepicker]="picker3"
            [field]="voorstellingForm.publicatie_datum"
          />
          <mat-hint
            >Datum vanaf wanneer de voorstelling zichtbaar wordt</mat-hint
          >
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker3"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Prijs per kaartje</mat-label>
          <mat-icon matPrefix>euro</mat-icon>
          <input
            matInput
            type="number"
            [field]="voorstellingForm.prijs_per_kaartje"
          />
          @if (voorstellingForm.prijs_per_kaartje().touched() &&
          voorstellingForm.prijs_per_kaartje().invalid()) { @for (error of
          voorstellingForm.prijs_per_kaartje().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <h3>Regie*</h3>
          <quill-editor
            class="regie"
            [modules]="modules"
            name="regie"
            [ngModel]="voorstellingForm.regie().value() || ''"
            (ngModelChange)="updateRegie($event)"
            [placeholder]="''"
          ></quill-editor>
        </div>
        <div class="col-md-6 col-12">
          <h3>Omschrijving*</h3>
          <quill-editor
            [modules]="modules"
            name="omschrijving"
            [ngModel]="voorstellingForm.omschrijving().value() || ''"
            (ngModelChange)="updateOmschrijving($event)"
            [placeholder]="''"
          ></quill-editor>
        </div>
      </div>
      <div class="row">
        <h3>Afbeelding</h3>
        <app-image-picker-with-preview
          (fileUploaded)="onFileUploaded($event)"
        ></app-image-picker-with-preview>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button mat-stroked-button mat-dialog-close class="flex-grow-1">
            <mat-icon>arrow_back</mat-icon>
            Terug
          </button>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button
            mat-flat-button
            color="primary"
            type="button"
            class="flex-grow-1"
            [disabled]="loading() || !voorstellingForm().valid()"
            (click)="submit()"
          >
            @if (!!existingVoorstelling) { Opslaan } @else { Aanmaken }
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
