<div style="display: flex; flex-direction: column; height: 100%;">
    <div class="splash-image">
    </div>

    <div class="container">
        <h1 class="text-center">Welkom op de website van Tovedem!</h1>
        <div class="section">
            <h2 class="mat-elevation-z2 text-center">Aankomende voorstellingen</h2>

            @defer (when voorstellingen().length > 0) {
            <div class="row">
                @for (item of voorstellingen(); track $index) {
                <app-voorstelling-card [voorstelling]="item" class="col-12 col-md-6 col-lg-4 mb-4 d-flex flex-grow-1">
                </app-voorstelling-card>
                }
            </div>
            } @placeholder {
            <div class="center">
                <mat-spinner></mat-spinner>
            </div>
            }
        </div>
    </div>
</div>