<mat-card class="voorstelling-card mat-elevation-z4">
    <div class="row">
        <div class="col-12">
            <mat-card-header style="width: 100%;">
                <div style="width: 100%;">
                    <mat-card-title style="font-size: x-large;"
                        class="text-center">{{voorstelling().titel}}</mat-card-title>
                    <mat-card-subtitle class="text-center">
                        Gespeeld door:
                        {{voorstelling().expand.groep.naam}}
                    </mat-card-subtitle>
                    <mat-card-subtitle class="d-flex flex-column">
                        @if(!!voorstelling().datum_tijd_1 &&
                        !!voorstelling().datum_tijd_2){
                        <div style="flex: 1; width: 100%;">
                            <mat-divider style="margin-top: 1em; margin-bottom: 0.5em;;"></mat-divider>
                            <div style="font-size: x-large; text-align: center;">
                                {{ voorstelling().datum_tijd_1 | date : "d" }}
                                & {{ voorstelling().datum_tijd_2 | date
                                : "d" }}
                            </div>
                        </div>
                        <div style="text-align: center; font-size: large;">
                            {{ voorstelling().datum_tijd_1 | date : "LLLL" }}
                            {{ voorstelling().datum_tijd_1 | date : "yyyy" }}
                        </div>
                        <mat-divider></mat-divider>
                        }
                    </mat-card-subtitle>
                </div>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4 center-image">
            @if(!!voorstelling().afbeelding){
            <img alt="voorstelling image" class="card-image"
                [src]="getImageUrl(voorstelling().collectionId, voorstelling().id, voorstelling().afbeelding)" />}
            @else {
            <img alt="voorstelling image" class="card-image" src="/assets/Place-Holder-Image.jpg" />
            }
        </div>
    </div>
    <mat-card-content>

        <p>
            {{voorstelling().ondertitel}}
        </p>

    </mat-card-content>
    <mat-card-actions>
        <div></div>
        @if(inToekomst()) {
        <app-nav-button [navigationParts]="['/reserveren']" [queryParams]="{voorstellingId: this.voorstelling().id}">
            RESERVEREN
        </app-nav-button>
        }
    </mat-card-actions>
</mat-card>