<div class="container">
  @defer (when !!groep() && aankomendeVoorstelling() != undefined &&
  !!afgelopenVoorstellingen()) {
  <div class="row mat-elevation-z2">

    <span class="text-center display-1">{{ groep().naam }}</span>

    <div class="row">
      <div class="col-3">
        <img src="/assets/Cloos-vrije-vogel.jpg"
          style="object-fit: contain; max-width: 100%; border-radius: 1em;" />
      </div>
      <div class="col-9">
        <h3 [innerHTML]="groep().omschrijving"></h3>
      </div>
    </div>

    @if (!!slides() && (slides()?.length ?? 0) > 0) {
    <div class="row justify-content-center bg-body w-100 m-0 p-0"
      style="max-height: 20%; border-radius: 1em; ">
      <div class="col-12">
        <owl-carousel-o [options]="owlOptions">
          @for (slide of slides(); track $index) {
          <ng-container>
            <ng-template carouselSlide [id]="slide.id">
              <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"
                style="object-fit: cover; border-radius: 1em; max-width: 20em; max-height: 20em;">
            </ng-template>
          </ng-container>
          }
        </owl-carousel-o>
      </div>
    </div>
    }

    <!-- @if(!!spelers()){
    <p>Spelers</p>
    <ul>
      @for(speler of spelers(); track speler){
      <li>
        {{ speler.naam }}
      </li>
      }
    </ul>
    } -->
  </div>

  <div class="row">
    <h2 class="mat-elevation-z2 text-center">Aankomende voorstelling</h2>
  </div>
  @if(aankomendeVoorstelling() != null){
  <div class="row">
    <div class="flex justify-content-center">
      <app-voorstelling-card
        [voorstelling]="aankomendeVoorstelling()"
        class="col-md-6 col-12">
      </app-voorstelling-card>
    </div>
  </div>

  } @else {
  <div class="center">
    <span>Geen aankomende voorstelling om te tonen</span>
  </div>
  }

  <div class="row">
    <h2 class="mat-elevation-z2 text-center">Afgelopen voorstellingen</h2>
  </div>
  @for (item of afgelopenVoorstellingen(); track $index) {
  <div class="row">
    <app-voorstelling-card
      [voorstelling]="item"
      class="col-12 col-md-6 col-lg-4 mb-4 d-flex flex-grow-1">
    </app-voorstelling-card>
  </div>
  } @empty {
  <div class="center">
    <span>Geen afgelopen voorstellingen om te tonen</span>
  </div>
  } } @placeholder {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
