<nav style="flex:1; display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center;">
    <div style="display: flex;">
        <h1>Tovedem</h1>
        <div>LOGO</div>
    </div>
    <div style="display: flex; gap: 2em; align-items: center;">
        <ul>
            <li><a href="/Agenda">Agenda</a></li>
            <li><a href="/Tovedem">Tovedem</a></li>
            <li><a href="/Cloos">Cloos</a></li>
            <li><a href="/Mejotos">Mejoto's</a></li>
            <li><a href="/Reserveren">Reserveren</a></li>
            <li><a href="/Lid-worden">Lid worden</a> </li>
            <li><a href="/Steunen">Steunen</a></li>
            <li><a href="/Sinterklaas">Sinterklaas</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </div>
</nav>