<mat-toolbar>
    <img class="logo" src="/assets/tovedem_logo.png" />

    <div class="links">
        <a href="/Agenda">Agenda</a>
        <a href="/Tovedem">Tovedem</a>
        <a href="/Cloos">Cloos</a>
        <a href="/Mejotos">Mejoto's</a>
        <a href="/Reserveren">Reserveren</a>
        <a href="/Lid-worden">Lid worden</a>
        <a href="/Steunen">Steunen</a>
        <a href="/Sinterklaas">Sinterklaas</a>
        <a href="/Contact">Contact</a>
    </div>
    <div class="spacer"></div>

</mat-toolbar>