<div class="container">
    <div class="row">
        <p class="display-1">Spelers</p>
    </div>

    <div class="row">
        <table class="table mat-elevation-z2">
            <thead>
                <tr>
                    <th scope="col">Uniek ID</th>
                    <th scope="col">Naam</th>
                </tr>
            </thead>
            <tbody>

                @for (speler of spelers(); track $index)
                {
                <tr>
                    <td>{{speler.id}}</td>
                    <td>{{speler.naam}}</td>
                    <td>
                        <button mat-icon-button (click)="delete(speler)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>