<div class="container header">
  <h2 mat-dialog-title class="display-4">Mail Aanpassen</h2>
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container p-4">
  <!-- <div class="row">
    <p>
      <b>
        Gebruikte plaatshouders: <br />
        {{ placeholders }}
      </b>
    </p>
  </div> -->
  <div class="row">
    <form #mailForm="ngForm">
      <mat-form-field class="col-12">
        <mat-label>Mail Naam</mat-label>
        <input
          placeholder="Dit is een voorbeeld naam"
          matInput
          type="text"
          name="mailNaam"
          required
          [(ngModel)]="mail.naam"
          #naamField="ngModel"
        />
        @if (naamField.touched && naamField.invalid) {
          @for (error of getFieldErrors(naamField); track error) {
            <mat-error>{{ error }}</mat-error>
          }
        }
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Mail Inhoud</mat-label>
        <textarea
          placeholder="Dit is voorbeeld inhoud"
          matInput
          type="text"
          name="mailInhoud"
          required
          [(ngModel)]="mail.inhoud"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20"
          #inhoudField="ngModel"
        >
        </textarea>
        @if (inhoudField.touched && inhoudField.invalid) {
          @for (error of getFieldErrors(inhoudField); track error) {
            <mat-error>{{ error }}</mat-error>
          }
        }
      </mat-form-field>
      <!-- 
      <h2>Voorbeeld weergave</h2>
      <mat-divider class="divider"></mat-divider>
      <div [innerHTML]="mail.inhoud"></div>
      <mat-divider class="divider"></mat-divider> -->

      <mat-divider class="divider"></mat-divider>

      <div class="buttons-container">
        <button mat-button (click)="downloadVoorbeeld()">
          <mat-icon>download</mat-icon>
          <span>Download voorbeeld</span>
        </button>
        <button
          mat-flat-button
          color="primary"
          type="button"
          [disabled]="!formIsValid()"
          (click)="return()"
        >
          <mat-icon>save</mat-icon>
          <span>Aanpassen</span>
        </button>
      </div>
    </form>
  </div>
</div>
