mat-divider {
  margin: 0.5em 0em;
}

.header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
}
