:host {
  margin: 1em 0;
  display: block;
  width: 100%;
}

// Make sure ngx-awesome-uploader and all its content is visible
::ng-deep {
  ngx-awesome-uploader {
    display: block !important;
    width: 100%;
    min-height: 100px;
  }
  
  // Hide duplicate file inputs - only keep one visible
  ngx-awesome-uploader input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    top: 0;
    left: 0;
  }
  
  // Hide all but the first file input
  ngx-awesome-uploader input[type="file"]:not(:first-of-type) {
    display: none !important;
  }
  
  // Ensure buttons are visible and clickable
  ngx-awesome-uploader button,
  ngx-awesome-uploader .file-picker-button,
  ngx-awesome-uploader [role="button"],
  ngx-awesome-uploader [class*="button"],
  ngx-awesome-uploader a[class*="picker"] {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    cursor: pointer !important;
    z-index: 5 !important;
    position: relative !important;
  }
  
  // Style the drag-and-drop area to be visible
  ngx-awesome-uploader .file-drop-container,
  ngx-awesome-uploader .file-drop-wrapper,
  ngx-awesome-uploader .file-drop-content,
  ngx-awesome-uploader .file-drop-area,
  ngx-awesome-uploader .file-drop-zone,
  ngx-awesome-uploader > div:first-child {
    display: block !important;
    visibility: visible !important;
    border: 2px dashed #ccc;
    padding: 2em;
    text-align: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-height: 100px;
    position: relative;
    cursor: pointer;
  }
}
