.container.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

