:host {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-calendar-card {
  max-width: fit-content;
  padding: 1em;
  margin: 1em;
}

.amount-button {
  min-height: auto;
  height: 4em;
}

// Hide native number input spinners
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
