<div class="container">
  <div class="container">
    <div class="row">
      <p class="display-1">Mails</p>
    </div>

    <div class="row">
      <div class="row pt-4">
        @defer (when mailTemplates()) {
          <table class="table mat-elevation-z2">
            <thead>
              <tr>
                <th scope="col">Naam</th>
                <th scope="col">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (mailTemplate of mailTemplates(); track $index) {
                <tr>
                  <td>{{ mailTemplate.naam }}</td>
                  <td style="width: 10%;"><button mat-button [matMenuTriggerFor]="menu" [style]="{'background-color': getLabelBackgroundColor(mailTemplate.status)}" style="color: white">{{mailTemplate.status}}</button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="updateMailStatus(mailTemplate, 'concept')">Concept</button>
                      <button mat-menu-item (click)="updateMailStatus(mailTemplate, 'inprogress')">In Progress</button>
                      <button mat-menu-item (click)="updateMailStatus(mailTemplate, 'done')">Done</button>
                      <button mat-menu-item (click)="updateMailStatus(mailTemplate, 'verified')">Verified</button>
                  </mat-menu>
                  </td>
                  <td>
                    <button
                      mat-icon-button
                      (click)="openEditDialog(mailTemplate)"
                      [disabled]="loading()"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @placeholder {
          <div class="center">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
    </div>
  </div>
</div>
