.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  h2 {
    margin: 0;
  }
}

.container {
  min-width: 500px;

  @media (max-width: 768px) {
    min-width: auto;
  }
}
