<div class="container mt-4">
  <div class="container">
    <div class="row">
      <p class="display-1">Gallerij</p>
    </div>

    <mat-card class="gallery" appearance="outlined">
      <div class="grid">
        @for (item of items(); track item.id) {
        <mat-card appearance="outlined">
          <img
            mat-card-image
            [src]="getFileUrl(item)"
            alt="Afbeelding"
            placeholder="assets/Place-Holder-Image.jpg"
          />
          <mat-card-actions class="d-flex justify-content-center">
            <button mat-icon-button (click)="openImage(item)">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        }
      </div>

      <mat-paginator
        [length]="paginatorLength()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="pageSizeOptions()"
        (page)="onPageChange($event)"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </mat-card>
  </div>
</div>
