.grid {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1rem;
    justify-content: center;
}

.gallery {
    min-height: 634px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
