<div class="container mat-elevation-z2">
    <div class="row">
        <div class="col-12">
            <div style="display: flex; justify-content: center;">
                <h1> <mat-icon>location_on</mat-icon> Schalm Oranjelaan 10, <br> 3454 BT De Meern</h1>
            </div>
            <mat-form-field class="col-12">
                <mat-label>Naam</mat-label>
                <input placeholder="Pieter Post" matInput type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>E-mail</mat-label>
                <input placeholder="pieter-post@voorbeeld.nl" matInput type="email" [(ngModel)]="email">
            </mat-form-field>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Onderwerp</mat-label>
                    <input placeholder="Het Onderwerp" matInput type=" text" [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Bericht</mat-label>
                    <textarea [(ngModel)]="message" matInput rows="10" placeholder="Type hier je bericht"></textarea>
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <button style="flex: 1;" mat-raised-button color="primary">Verzenden</button>
            </div>
        </div>
    </div>
</div>