<div class="container header">
  <h2 mat-dialog-title class="display-4">
    {{ isUpdate ? "Gebruiker Aanpassen" : "Gebruiker Aanmaken" }}
  </h2>
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container p-4">
  @defer (when rollen() && spelers() && groepen()) {
  <div class="row">
    <form>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Username</mat-label>
          <input matInput type="text" [field]="gebruikerForm.username" />
          @if (gebruikerForm.username().touched() &&
          gebruikerForm.username().invalid()) {
            @for (error of gebruikerForm.username().errors(); track error) {
              <mat-error>{{ error.message }}</mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            autocomplete="email"
            [field]="gebruikerForm.email"
          />
          @if (gebruikerForm.email().touched() &&
          gebruikerForm.email().invalid()) { @for (error of
          gebruikerForm.email().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Wachtwoord</mat-label>
          <input matInput type="password" [field]="gebruikerForm.password" />
          @if (!isUpdate && gebruikerForm.password().touched() &&
          gebruikerForm.password().invalid()) {
            @for (error of gebruikerForm.password().errors(); track error) {
              <mat-error>{{ error.message }}</mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Bevestig Wachtwoord</mat-label>
          <input
            matInput
            type="password"
            [field]="gebruikerForm.passwordConfirm"
          />
          @if (!isUpdate && gebruikerForm.passwordConfirm().touched() &&
          gebruikerForm.passwordConfirm().invalid()) { @for (error of
          gebruikerForm.passwordConfirm().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
          } } @else if (!isUpdate && gebruikerForm.passwordConfirm().valid() &&
          gebruikerForm.passwordConfirm().value() &&
          gebruikerForm.password().value() ===
          gebruikerForm.passwordConfirm().value()) {
          <mat-hint class="mat-hint-success">
            Wachtwoorden komen overeen
          </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Naam</mat-label>
          <input matInput type="text" [field]="gebruikerForm.name" />
          @if (gebruikerForm.name().touched() && gebruikerForm.name().invalid()) {
            @for (error of gebruikerForm.name().errors(); track error) {
              <mat-error>{{ error.message }}</mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Rollen</mat-label>
          <mat-select multiple [field]="gebruikerForm.rollen">
            @for (rol of rollen(); track $index) {
            <mat-option [value]="rol.id">{{ rol.rol }}</mat-option>
            }
          </mat-select>
          @if (gebruikerForm.rollen().touched() &&
          gebruikerForm.rollen().invalid()) {
          <mat-error>Rollen zijn verplicht</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Groep</mat-label>
          <mat-select [field]="gebruikerForm.groep">
            <mat-option [value]="null">Geen</mat-option>
            @for (groep of groepen(); track $index) {
            <mat-option [value]="groep.id">{{ groep.naam }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="col-md-6 col-12">
                    <mat-label>Speler</mat-label>
                    <mat-select [(value)]="gebruiker.speler">
                        <mat-option>Geen</mat-option>
                        @for (speler of spelers(); track $index) {
                        <mat-option [value]="speler.id">{{speler.naam}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field> -->
      </div>

      <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button mat-stroked-button mat-dialog-close class="flex-grow-1">
            <mat-icon>arrow_back</mat-icon>
            Terug
          </button>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button
            mat-flat-button
            color="primary"
            type="button"
            class="flex-grow-1"
            [disabled]="loading() || gebruikerForm().invalid()"
            (click)="submit()"
          >
            {{ isUpdate ? "Aanpassen" : "Aanmaken" }}
          </button>
        </div>
      </div>
    </form>
  </div>
  } @placeholder {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
