<div class="splash-image"></div>

<div
  class="container mat-elevation-z2"
  style="padding-bottom: var(--spacing-4)"
>
  <div class="display-1 justify-content-center" style="text-align: center">
    Sinterklaas
  </div>
  <mat-divider class="divider" style="margin-bottom: 1rem"></mat-divider>

  <div class="row">
    @if(images().length > 0) {
    <mdb-carousel
      [controls]="false"
      [indicators]="true"
      [animation]="'slide'"
      [interval]="5000"
      [ride]="true"
      [wrap]="true"
      class="mat-elevation-z3"
      style="align-content: center"
    >
      @for (slide of images(); track $index) {

      <mdb-carousel-item sclass="carousel-item">
        <img
          [alt]="slide.title || 'Sinterklaas afbeelding'"
          [src]="slide.src"
          class="carousel-image"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </mdb-carousel-item>
      }
    </mdb-carousel>
    }
  </div>

  @defer (when !!content()) {
  <div class="row" style="margin-top: 1em">
    <div [innerHTML]="content()"></div>
  </div>
  } @placeholder {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  } @if (!submitted()) {
  <form class="row sinterklaas-form">
    <mat-form-field class="col-12 col-md-4">
      <mat-label>Volledige naam</mat-label>
      <input
        placeholder="Pieter Post"
        matInput
        type="text"
        [field]="sinterklaasForm.name"
      />
      @if (sinterklaasForm.name().touched() && sinterklaasForm.name().invalid())
      {
      <mat-error>Naam is verplicht</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
      <mat-label>E-mail</mat-label>
      <input
        placeholder="pieter-post@voorbeeld.nl"
        matInput
        type="email"
        autocomplete="email"
        [field]="sinterklaasForm.email"
      />
      @if (sinterklaasForm.email().touched() &&
      sinterklaasForm.email().invalid()) {
      <mat-error>
        @for (error of sinterklaasForm.email().errors(); track error) {
        {{ error.message }}
        }
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
      <mat-label>Onderwerp</mat-label>
      <input
        placeholder="Het Onderwerp"
        matInput
        type="text"
        [field]="sinterklaasForm.subject"
      />
      @if (sinterklaasForm.subject().touched() &&
      sinterklaasForm.subject().invalid()) {
      <mat-error>Onderwerp is verplicht</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Bericht</mat-label>
      <textarea
        [field]="sinterklaasForm.message"
        matInput
        rows="10"
        placeholder="Typ hier je bericht"
      ></textarea>
      @if (sinterklaasForm.message().touched() &&
      sinterklaasForm.message().invalid()) {
      <mat-error>Bericht is verplicht</mat-error>
      }
    </mat-form-field>
    <div class="d-flex">
      <span
        [matTooltip]="
          !sinterklaasForm().valid()
            ? 'Vul het formulier in om te verzenden'
            : ''
        "
        [matTooltipDisabled]="sinterklaasForm().valid()"
        style="display: flex; flex: 1"
      >
        <button
          class="flex"
          mat-flat-button
          type="button"
          (click)="verstuurSinterklaasMail()"
          [disabled]="!sinterklaasForm().valid()"
        >
          Verzenden
        </button>
      </span>
    </div>
  </form>
  } @if (submitted()) {
  <mat-card
    class="success-card"
    style="text-align: center; padding: 2em; margin-top: 2em"
  >
    <mat-card-content>
      <h2 style="margin-bottom: 1em">We hebben je aanvraag ontvangen!</h2>
      <button mat-flat-button color="primary" (click)="resetForm()">
        Nog een maken?
      </button>
    </mat-card-content>
  </mat-card>
  }
</div>
