<div class="splash-image"></div>

<div class="container mat-elevation-z2">
  <div class="display-1 justify-content-center" style="text-align: center">
    Sinterklaas
  </div>
  <mat-divider style="margin-bottom: 2em"></mat-divider>

  <div class="row p-4" style="margin: 1em; align-items: center">
    @if(images.length > 0) {
    <mdb-carousel
      [controls]="false"
      [indicators]="true"
      [animation]="'slide'"
      [interval]="5000"
      [ride]="true"
      [wrap]="true"
      class="mat-elevation-z3"
      style="align-content: center"
    >
      @for (slide of images; track $index) {

      <mdb-carousel-item sclass="carousel-item">
        <img
          alt="sinterklaas image"
          [src]="slide.src"
          [alt]="slide.title"
          class="carousel-image"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </mdb-carousel-item>
      }
    </mdb-carousel>
    }
  </div>

  @defer (when !!content()) {
  <div class="row" style="margin-top: 1em">
    <div [innerHTML]="content()"></div>
  </div>
  } @placeholder (minimum 1s) {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div class="row">
    <div class="col-12">
      <mat-form-field class="col-12">
        <mat-label>Volledige naam</mat-label>
        <input
          placeholder="Pieter Post"
          matInput
          type="text"
          required
          [(ngModel)]="name"
        />
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>E-mail</mat-label>
        <input
          placeholder="pieter-post@voorbeeld.nl"
          matInput
          type="email"
          required
          [(ngModel)]="email"
        />
      </mat-form-field>
      <div style="display: flex">
        <mat-form-field style="flex: 1">
          <mat-label>Onderwerp</mat-label>
          <input
            placeholder="Het Onderwerp"
            matInput
            type="text"
            required
            [(ngModel)]="subject"
          />
        </mat-form-field>
      </div>
      <div style="display: flex">
        <mat-form-field style="flex: 1">
          <mat-label>Bericht</mat-label>
          <textarea
            [(ngModel)]="message"
            matInput
            rows="10"
            required
            placeholder="Type hier je bericht"
          ></textarea>
        </mat-form-field>
      </div>
      <div style="display: flex">
        <button
          style="flex: 1"
          mat-raised-button
          (click)="verstuurSinterklaasMail()"
          [disabled]="!name || !email || !subject || !message"
        >
          Verzenden
        </button>
      </div>
    </div>
  </div>
</div>
