<div class="splash-image"></div>

<div class="container mat-elevation-z2">
    <div class="display-1 justify-content-center" style="text-align: center;">Sinterklaas</div>
    <mat-divider style="margin-bottom: 2em"></mat-divider>

    <div class="row p-4 mat-elevation-z2" style="margin: 1em;">
        @if(images.length > 0) {
        <mdb-carousel [controls]="false" [indicators]="true" [animation]="'slide'" [interval]="5000" [ride]="true"
            [wrap]="true" class="col-12">
            @for (slide of images; track $index) {
            <mdb-carousel-item style="height:30em">
                <img [src]="slide.src" [alt]="slide.title" class="d-block w-100"
                    style="max-height: 100%; object-fit: cover; border-radius: 1em;" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{slide.title}}</h5>
                    <p>{{slide.description}}</p>
                </div>
            </mdb-carousel-item>
            }
        </mdb-carousel>
        }
    </div>



    @defer (when !!content()) {
    <div class="row" style="margin-top: 1em;">
        <div [innerHTML]="content()"></div>
    </div>
    } @placeholder (minimum 1s) {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }
    <div class="row">
        <div class="col-12">
            <mat-form-field class="col-12">
                <mat-label>Naam</mat-label>
                <input placeholder="Pieter Post" matInput type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>E-mail</mat-label>
                <input placeholder="pieter-post@voorbeeld.nl" matInput type="email" [(ngModel)]="email">
            </mat-form-field>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Onderwerp</mat-label>
                    <input placeholder="Het Onderwerp" matInput type=" text" [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Bericht</mat-label>
                    <textarea [(ngModel)]="message" matInput rows="10" placeholder="Type hier je bericht"></textarea>
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <button style="flex: 1;" mat-raised-button (click)="verstuurSinterklaasMail()">Verzenden</button>
            </div>
        </div>
    </div>
</div>