<div class="container header">
    <h2 mat-dialog-title class="display-4">Losse verkoop voor: 
       {{ voorstelling().titel }}</h2>
    <button
      mat-icon-button
      aria-label="close dialog"
      tabindex="-1"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div mat-dialog-content class="container p-4">
    <div class="row">
      <form #losseVerkoopForm="ngForm">
        <div class="row">
          <mat-form-field class="col-md-6 col-12">
            <mat-label>Aantal</mat-label>
            <input
              matInput
              type="number"
              name="aantal"
              min="1"
              max="20"
              tabindex="0"
              required
              [(ngModel)]="aantal"
              #aantalField="ngModel"
            />
            @if (aantalField.touched && aantalField.invalid) {
              @for (error of getFieldErrors(aantalField); track error) {
                <mat-error>{{ error }}</mat-error>
              }
            }
          </mat-form-field>
          <mat-form-field class="col-md-6 col-12">
            <mat-label>Datum</mat-label>
            <input
              matInput
              [value]="getSelectedDatum() | date: 'dd-MM-yyyy'"
              readonly
            />
          </mat-form-field>
        </div>
  
        <div class="row">
          <div class="col-md-6 col-12 d-flex justify-content-center">
            <button mat-stroked-button mat-dialog-close class="flex-grow-1">
              <mat-icon>close</mat-icon>
              Sluiten
            </button>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-center">
            <button
              mat-flat-button
              color="primary"
              type="button"
              class="flex-grow-1"
              [disabled]="loading() || !formIsValid()"
              (click)="submit()"
            >
              Toevoegen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  