<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo"
        src="/assets/tovedem_logo.png" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><mat-icon>menu</mat-icon></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <div class="links-container">
        <ul class="links navbar-nav nav-pills nav-fill">
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/"
              [routerLinkActiveOptions]="{ exact: true }">
              Home <mat-icon>home</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/agenda">
              Agenda <mat-icon>calendar_month</mat-icon>
            </button>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu"
              class="nav-link {{groepenClass}}">
              Groepen<mat-icon>groups</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ul class="links navbar-nav nav-pills nav-fill">
                <li>
                  <a
                    class="nav-link in-menu"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    routerLinkActive="active"
                    routerLink="/groep/Tovedem">
                    <span class="groepsnaam">Tovedem</span>
                  </a>
                </li>
                <li>
                  <a
                    class="nav-link in-menu"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    routerLinkActive="active"
                    routerLink="/groep/Cloos">
                    <span class="groepsnaam">Cloos</span>
                  </a>
                </li>
                <li>
                  <a
                    class="nav-link in-menu"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    routerLinkActive="active"
                    routerLink="/groep/Mejotos">
                    <span class="groepsnaam">Mejoto's</span>
                  </a>
                </li>
              </ul>
            </mat-menu>
          </li>
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/lid-worden">
              Lid worden <mat-icon>person_add</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/steunen">
              Steunen <mat-icon>volunteer_activism</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/sinterklaas">
              Sinterklaas <mat-icon>redeem</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/contact">
              Contact <mat-icon>mail</mat-icon>
            </button>
          </li>

          @if (!authService.isLoggedIn()){
          <li>
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/login">
              Login
              <mat-icon>login</mat-icon>
            </button>
          </li>
          } @else {
          <li class="profile">
            <button
              mat-button
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/profiel">
              <div class="d-flex">
                <img
                  style="max-height: 2em; border-radius: .2em; align-self: center;"
                  [src]="'https://api.dicebear.com/7.x/thumbs/svg?seed='+authService.userData().name+'&backgroundColor=f1f4dc,f88c49,ffd5dc,ffdfbf,d1d4f9,c0aede&backgroundType=gradientLinear&shapeColor=69d2e7,f1f4dc,f88c49'"
                  alt="avatar" />
                {{authService.userData().name}}
              </div>
            </button>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
