<nav class="navbar navbar-expand-xl navbar-light bg-light p-0">
  <div class="container-fluid p-2">
    <a class="navbar-brand" routerLink="/" matTooltip="Naar homepage" aria-label="Tovedem homepage"
      ><img
        class="logo"
        src="/assets/TovedemLogo.svg"
        alt="Tovedem logo"
        style="height: 50px; width: auto;"
    /></a>
    <div class="d-flex align-items-center gap-2">
      <button
        mat-icon-button
        type="button"
        aria-label="Toggle theme"
        (click)="toggleTheme()"
        [matTooltip]="themeService.isDarkTheme() ? 'Schakel naar licht thema' : 'Schakel naar donker thema'"
      >
        <mat-icon>{{ themeService.isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      @if (authService.isLoggedIn()){
      <button
        class="navbar-toggler justify-self-end"
        type="button"
        aria-label="Toggle side navigation"
        (click)="toggleSideDrawer()"
      >
        <div class="d-flex flex-column">
          <span><mat-icon class="navbar-icon">menu</mat-icon></span>
          <span>
            @if(sideDrawerService.isOpen()){
            <mat-icon class="navbar-icon">chevron_right</mat-icon>
            } @else {
            <mat-icon class="navbar-icon">chevron_left </mat-icon>
            }
          </span>
        </div>
      </button>
      }
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        [attr.aria-expanded]="false"
        aria-label="Open of sluit navigatiemenu"
      >
        <div class="d-flex flex-column">
          <span><mat-icon class="navbar-icon">menu</mat-icon></span>
          <span><mat-icon class="navbar-icon">expand_more</mat-icon></span>
        </div>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <div class="links-container">
        <ul class="links navbar-nav nav-pills nav-fill">
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/"
              [routerLinkActiveOptions]="{ exact: true }"
              aria-label="Ga naar homepage"
            >
              Home <mat-icon aria-hidden="true">cottage</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/agenda"
              aria-label="Ga naar agenda"
            >
              Agenda <mat-icon aria-hidden="true">calendar_month</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              [matMenuTriggerFor]="menu"
              class="w-100 {{ groepenClass }}"
              aria-label="Open groepen menu"
              [attr.aria-expanded]="false"
              aria-haspopup="true"
            >
              Groepen<mat-icon aria-hidden="true">groups</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="mat-menu-panel" aria-label="Groepen submenu">
              <ul class="links navbar-nav nav-pills nav-fill p-2" role="menu">
                <li class="groepsnaam" role="none">
                  <button
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Tovedem"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    role="menuitem"
                    aria-label="Ga naar Tovedem groep pagina"
                  >
                    <mat-icon aria-hidden="true"> diversity_1 </mat-icon>
                    <span>Tovedem</span>
                  </button>
                </li>
                <li class="groepsnaam" role="none">
                  <button
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Cloos"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    role="menuitem"
                    aria-label="Ga naar Cloos groep pagina"
                  >
                    <mat-icon aria-hidden="true"> diversity_2 </mat-icon>
                    <span>Cloos</span>
                  </button>
                </li>
                <li class="groepsnaam" role="none">
                  <button
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Mejotos"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show"
                    role="menuitem"
                    aria-label="Ga naar Mejotos groep pagina"
                  >
                    <mat-icon aria-hidden="true"> diversity_3 </mat-icon>
                    <span>Mejoto's</span>
                  </button>
                </li>
              </ul>
            </mat-menu>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/lid-worden"
              aria-label="Ga naar lid worden pagina"
            >
              <span>Lid worden</span>
              <mat-icon aria-hidden="true">person_add</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/steunen"
              aria-label="Ga naar steunen pagina"
            >
              Steunen <mat-icon aria-hidden="true">volunteer_activism</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/sinterklaas"
              aria-label="Ga naar Sinterklaas pagina"
            >
              Sinterklaas <mat-icon aria-hidden="true">redeem</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/contact"
              aria-label="Ga naar contact pagina"
            >
              Contact <mat-icon aria-hidden="true">mail</mat-icon>
            </button>
          </li>

          @if (!authService.isLoggedIn()){
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/login"
              aria-label="Ga naar login pagina"
            >
              Login
              <mat-icon aria-hidden="true">login</mat-icon>
            </button>
          </li>
          } @else {
          <li>
            <button
              mat-raised-button
              class="profiel-button w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/profiel"
              aria-label="Ga naar profiel pagina"
            >
              <div
                class="d-flex w-100 justify-content-center align-items-center gap-2"
                style="pointer-events: none"
              >
                <img
                  [alt]="'Avatar van ' + (authService.userData()?.name || 'gebruiker')"
                  style="max-height: 2em; border-radius: 0.2em"
                  [src]="
                    'https://api.dicebear.com/7.x/thumbs/svg?seed=' +
                    authService.userData()?.name +
                    '&backgroundColor=f1f4dc,f88c49,ffd5dc,ffdfbf,d1d4f9,c0aede&backgroundType=gradientLinear&shapeColor=69d2e7,f1f4dc,f88c49'
                  "
                />
                Profiel
              </div>
            </button>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
