:host {
  flex: 1;
  display: flex;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  background-color: rgba(255, 255, 255, 0.9);
}

.links-container {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

li {
  list-style: none;
  // margin: 0 1em;

  .active {
    color: white;
    background-color: #ae1545;
  }

  :hover {
    color: white;
    background-color: #ae1545;
  }
}

.navbar-collapse {
  li {
    width: 100%;

    .active {
      color: white;
      background-color: #ae1545;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  gap: 0.5em;
  justify-content: space-evenly;
}

.logo {
  justify-self: flex-start;
  align-self: center;
  max-height: 2em;
}

mat-icon {
  transform: scale(1.5);
}

.groepsnaam {
  margin: 0.5rem;
  pointer-events: none;
}

.navbar-toggler-icon {
  color: black !important;
}
