:host {
  flex: 1;
  display: flex;
  max-width: 100vw;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4em;
  padding: 0 !important;

  .light {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}

.p-0 {
  padding: 0 !important;
}

.links-container {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

li {
  list-style: none;
  margin-right: 0.5rem;

  @media (max-width: 1024px) {
    min-width: 20em;
  }

  .active {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
  }

  :hover {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
  }

  button {
    mat-icon {
      pointer-events: none;
    }
  }
}

.navbar {
  padding: 0 !important;
  min-height: 0 !important;
}

.lid-worden-button {
  min-width: 6em !important;
}

.navbar-collapse {
  li {
    .active {
      color: var(--mat-sys-on-primary);
      background-color: var(--mat-sys-primary);
    }
  }
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-background);
}

.links {
  display: flex;
  gap: 0.5em;
  justify-content: space-evenly;
}

.logo {
  justify-self: flex-start;
  align-self: center;
  max-height: 2em;
}

mat-icon {
  transform: scale(1.5);
}

.groepsnaam {
  pointer-events: cursor;
  min-width: 100%;

  button {
    min-width: 19em !important;
  }

  @media (max-width: 1024px) {
    button {
      min-width: 19em !important;
    }
  }
}

.profiel-button {
  padding: 0 2em;
}

.theme-switch {
  display: flex;
  justify-content: center;

  cursor: pointer;
  border-radius: 1em;
  padding: 0.5em;

  :hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    border-radius: 1em;
  }
}

.navbar-icon {
  color: var(--mat-sys-primary);
}

.light-mode-switch {
  color: var(--mat-sys-primary);
}

.dark-mode-switch {
  color: var(--mat-sys-primary);
}

.profiel-button {
  @media (max-width: 1024px) {
    min-width: 20em;
  }
}
