<nav class="navbar navbar-expand-xl navbar-light bg-light p-0">
  <div class="container-fluid p-2">
    <a class="navbar-brand" routerLink="/"
      ><img class="logo" src="/assets/tovedem_logo.png" alt="tovedem logo"
    /></a>
    <div>
      @if (authService.isLoggedIn()){
      <button
        class="navbar-toggler justify-self-end"
        type="button"
        aria-label="Toggle side navigation"
        (click)="sideDrawerService.toggle()"
      >
        <div class="d-flex flex-column">
          <span><mat-icon>menu</mat-icon></span>
          <span>
            @if(sideDrawerService.isOpen()){
            <mat-icon>chevron_right</mat-icon>
            } @else {
            <mat-icon>chevron_left </mat-icon>
            }
          </span>
        </div>
      </button>
      }
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="d-flex flex-column">
          <span><mat-icon>menu</mat-icon></span>
          <span><mat-icon>expand_more</mat-icon></span>
        </div>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <div class="links-container">
        <ul class="links navbar-nav nav-pills nav-fill">
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Home <mat-icon>cottage</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/agenda"
            >
              Agenda <mat-icon>calendar_month</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              [matMenuTriggerFor]="menu"
              class="w-100 {{ groepenClass }}"
            >
              Groepen<mat-icon>groups</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ul class="links navbar-nav nav-pills nav-fill p-2">
                <li class="groepsnaam">
                  <button
                    style="width: 12em"
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Tovedem"
                  >
                    <mat-icon> diversity_1 </mat-icon>
                    <span>Tovedem</span>
                  </button>
                </li>
                <li class="groepsnaam">
                  <button
                    style="width: 12em"
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Cloos"
                  >
                    <mat-icon> diversity_2 </mat-icon>
                    <span>Cloos</span>
                  </button>
                </li>
                <li class="groepsnaam">
                  <button
                    style="width: 12em"
                    mat-raised-button
                    routerLinkActive="active"
                    routerLink="/groep/Mejotos"
                  >
                    <mat-icon> diversity_3 </mat-icon>
                    <span>Mejoto's</span>
                  </button>
                </li>
              </ul>
            </mat-menu>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/lid-worden"
            >
              <span>Lid worden</span>
              <mat-icon>person_add</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/steunen"
            >
              Steunen <mat-icon>volunteer_activism</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/sinterklaas"
            >
              Sinterklaas <mat-icon>redeem</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/contact"
            >
              Contact <mat-icon>mail</mat-icon>
            </button>
          </li>

          @if (!authService.isLoggedIn()){
          <li>
            <button
              mat-raised-button
              class="w-100"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/login"
            >
              Login
              <mat-icon>login</mat-icon>
            </button>
          </li>
          } @else {
          <li>
            <button
              mat-raised-button
              class="w-100 profiel-button"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              routerLinkActive="active"
              routerLink="/profiel"
            >
              <div
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <img
                  alt="avatar"
                  style="max-height: 2em; border-radius: 0.2em"
                  [src]="
                    'https://api.dicebear.com/7.x/thumbs/svg?seed=' +
                    authService.userData()?.name +
                    '&backgroundColor=f1f4dc,f88c49,ffd5dc,ffdfbf,d1d4f9,c0aede&backgroundType=gradientLinear&shapeColor=69d2e7,f1f4dc,f88c49'
                  "
                  alt="avatar"
                />
                Profiel
              </div>
            </button>
          </li>
          }
          <li class="theme-switch">
            @if (themeService.isDarkTheme()) {
            <mat-icon class="light-mode" (click)="themeService.toggleTheme()"
              >light_mode</mat-icon
            >
            } @else {
            <mat-icon class="dark-mode" (click)="themeService.toggleTheme()"
              >dark_mode</mat-icon
            >
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
