<div class="container">
    <div class="row">
        <p class="display-1">Reserveringen</p>
    </div>
</div>

<div class="container">
    @defer(when !!items())
    {
    @if(!loading()){
    <mat-tab-group class="flex-grow-1 mat-elevation-z2">
        <mat-tab label="Beheren">
            <div class="row" style="margin-top:  1em;">
                <mat-form-field class="col-md-6 col-12" appearance="outline">
                    <mat-label>Zoeken</mat-label>
                    <input matInput type="text" [ngModel]="searchTerm()"
                        (ngModelChange)="onSearchTermChanged($event)" />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                @if(searching()){
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </div>


            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Voorstelling</th>
                        <th scope="col">Voornaam</th>
                        <th scope="col">Achternaam</th>
                        <th scope="col">Email</th>
                        <th scope="col">Datum 1 Aantal</th>
                        <th scope="col">Datum 2 Aantal</th>
                        <th scope="col">Vriend</th>
                        <th scope="col">Lid</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @for (item of items(); track $index)
                    {
                    <tr>
                        <td>{{item.expand.voorstelling.titel}}</td>
                        <td>{{item.voornaam}}</td>
                        <td>{{item.achternaam}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.datum_tijd_1_aantal}}</td>
                        <td>{{item.datum_tijd_2_aantal}}</td>


                        <td>
                            <mat-checkbox [checked]="item.is_vriend_van_tovedem" disabled>
                            </mat-checkbox>
                        </td>
                        <td>
                            <mat-checkbox [checked]="item.is_lid_van_vereniging" disabled>
                            </mat-checkbox>
                        </td>
                        @if (!!authService.isGlobalAdmin)
                        {
                        <td>
                            <button mat-icon-button (click)="openEditDialog(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        }

                        <!--<td> <button mat-icon-button (click)="delete(item)"
                                [disabled]="loading()">
                                <mat-icon color="warn">delete</mat-icon>
                            </button></td>-->
                    </tr>
                    }
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Kassa">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Voorstelling</th>
                        <th scope="col">Datum 1 Aantal</th>
                        <th scope="col">Datum 2 Aantal</th>
                        <th scope="col">Achternaam</th>
                        <th scope="col">Vriend</th>
                        <th scope="col">Lid</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of items(); track $index)
                    {
                    <tr>
                        <td>{{item.expand.voorstelling?.titel}}</td>
                        <td>{{item.datum_tijd_1_aantal}}</td>
                        <td>{{item.datum_tijd_2_aantal}}</td>
                        <td>{{item.achternaam}}</td>

                        <td>
                            <mat-checkbox [checked]="item.is_vriend_van_tovedem" disabled>
                            </mat-checkbox>
                        </td>
                        <td>
                            <mat-checkbox [checked]="item.is_lid_van_vereniging" disabled>
                            </mat-checkbox>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
    } @else {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }
    } @placeholder {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }
</div>