@use "../../../../variables.scss" as *;

.item-container {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid var(--mat-sys-outline-variant);
}

.item {
  background-color: var(--mat-sys-surface-container-low);
  padding: 10px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.amount-editor {
  display: flex;
  align-items: center;
  width: 80%;
}

.printable {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}