.splash-image {
  background: url("/assets/Sinterklaas_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2%;
}

.section-label {
  background-color: #90f1ef;
}

.section-text {
  text-align: center;
  margin-top: 0.5;
  color: white;
}

.styleGreen {
  background-color: #90f1fe;
}
