<div class="splash-image"></div>

<div class="container">
    <div class="container">
        <div class="row">
            <p class="display-1">Sinterklaas verzoeken</p>
        </div>
        @for(statusIndex of statussen; track $index){
        <div class="section-label mat-elevation-z2" [style]="{'background-color': getLabelBackgroundColor(statusIndex)}"> 
            <h1 class="section-text">{{statusIndex.charAt(0).toUpperCase() + statusIndex.slice(1)}}</h1>
        </div>
        <div class="row" style="margin-top: -4em; margin-left: 0em; margin-right: 0em;">
            @defer(when items()){
            <table class="table mat-elevation-z2" style="background-color: rgb(255, 255, 255);">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Aangemaakt</th>
                        <th scope="col" style="width: 20%;">Naam</th>
                        <th scope="col" style="width: 10%;">email</th>
                        <th scope="col" style="width: 20%;">Onderwerp</th>
                        <th scope="col" style="width: 5%;">Bericht</th>
                        <th scope="col" style="width: 10%;">Status</th>
                        <th scope="col" style="width: 10%;">Ingepland op</th>
                        <th scope="col" style="width: 10%;"></th>
                        @if (!!authService.isGlobalAdmin)
                        {
                        <th scope="col" style="width: 5%;"></th>
                        }
                    </tr>
                </thead>
                <tbody> 

                    @for (item of items(); track $index)
                    {
                        @if (item.status == statusIndex){
                    <tr>
                        <td>{{item.created | date : 'dd-LL-YY' }}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.subject}}</td>
                        <td>
                            @if (item.message == null || item.message == "") {
                            <button mat-fab disabled>
                              <mat-icon>description</mat-icon>
                            </button>
                            } @else {
                            <button mat-fab [matMenuTriggerFor]="menu" xPosition="before">
                              <mat-icon color>description</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                              <div style="margin: 5px">
                                <h3><b>Bericht: </b></h3>
                                {{ item.message }}
                              </div>
                            </mat-menu>
                            }
                          </td>
                        <td><button mat-button [matMenuTriggerFor]="menu" [style]="{'background-color': getLabelBackgroundColor(statusIndex)}">{{item.status}}</button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="selectNieuw(item)">nieuw</button>
                                <button mat-menu-item (click)="selectInbehandeling(item)">inbehandeling</button>
                                <button mat-menu-item (click)="selectIngepland(item)">ingepland</button>
                                <button mat-menu-item (click)="selectAfgerond(item)">afgerond</button>
                            </mat-menu>
                        </td>
                        <td>{{item.plannedDate}}</td>
                        @if (!!authService.isGlobalAdmin)
                            {
                            <td>
                                <button mat-icon-button (click)="delete(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                            }
                    </tr>
                    }}
                </tbody>
            </table>
            } @placeholder {
            <div class="center">
                <mat-spinner></mat-spinner>
            </div>
            }
            
        </div>
    }
</div>