

.row {
  margin-bottom: 2em;
}


.splash-image {
  background: url("/assets/Tovedem_achtergrond.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
  margin-top: -2em;
}
