@use "../../../../variables.scss" as *;

.container {
  padding-left: $spacing-16;
  padding-right: $spacing-16;

  @media (max-width: 1024px) {
    padding-left: $spacing-12;
    padding-right: $spacing-12;
  }

  @media (max-width: 768px) {
    padding-left: $spacing-6;
    padding-right: $spacing-6;
  }

  @media (max-width: 480px) {
    padding-left: $spacing-4;
    padding-right: $spacing-4;
  }
}

// Dark mode: Force ALL text to white with !important
html.darkMode {
  .row {
    margin-bottom: 2em;

    * {
      color: #ffffff !important;
    }

    .display-1 {
      color: #ffffff !important;
      font-weight: $font-weight-bold;
    }

    h2 {
      color: #ffffff !important;
      font-weight: $font-weight-semibold;
    }
  }

  .container {
    color: #ffffff !important;

    * {
      color: #ffffff !important;
    }

    .display-1 {
      color: #ffffff !important;
    }

    .display-6 {
      color: #ffffff !important;
    }

    // Force innerHTML content to white
    div[innerHTML],
    [innerHTML],
    div[innerHTML] * {
      color: #ffffff !important;

      p,
      div,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      li,
      ul,
      ol,
      td,
      th,
      strong,
      em,
      b,
      i,
      a,
      blockquote {
        color: #ffffff !important;
      }

      * {
        color: #ffffff !important;
      }
    }
  }
}

// Light mode: Force ALL text to black with !important
html.lightMode {
  .row {
    margin-bottom: 2em;

    * {
      color: #000000;
    }

    .display-1 {
      color: #000000;
      font-weight: $font-weight-bold;
    }

    h2 {
      color: #000000;
      font-weight: $font-weight-semibold;
    }
  }

  .container {
    color: #000000;

    * {
      color: #000000;
    }

    .display-1 {
      color: #000000;
    }

    .display-6 {
      color: #000000;
    }

    // Force innerHTML content to black
    div[innerHTML],
    [innerHTML],
    div[innerHTML] * {
      color: #000000;

      p,
      div,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      li,
      ul,
      ol,
      td,
      th,
      strong,
      em,
      b,
      i,
      a,
      blockquote {
        color: #000000;
      }

      * {
        color: #000000;
      }
    }
  }
}

.splash-image {
  background: url("/assets/Tovedem_achtergrond.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
  margin-top: -2em;
}

.carousel-item {
  align-content: center;
  text-align: center;

  @media (max-width: 768px) {
    width: 90vw;
    height: 20em;
  }

  .carousel-caption {
    h5 {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

html.darkMode {
  .carousel-item {
    .carousel-caption {
      h5 {
        color: #ffffff;
      }

      p {
        color: #ffffff;
      }
    }
  }
}

html.lightMode {
  .carousel-item {
    .carousel-caption {
      h5 {
        color: #000000;
      }

      p {
        color: #000000;
      }
    }
  }
}

.carousel-image {
  object-fit: cover;
  border-radius: 1em;
  height: 40em;

  @media (max-width: 768px) {
    width: 90vw;
    height: 20em;
  }
}

.groep-image {
  object-fit: contain;
  max-width: 100%;
  border-radius: 1em;
}

html.darkMode {
  mat-list {
    mat-list-item {
      color: #ffffff;

      span {
        color: #ffffff;

        i {
          color: #ffffff;
        }
      }
    }
  }
}

html.lightMode {
  mat-list {
    mat-list-item {
      color: #000000;

      span {
        color: #000000;

        i {
          color: #000000;
        }
      }
    }
  }
}
