.row {
  margin-bottom: 2em;
}

.splash-image {
  background: url("/assets/Tovedem_achtergrond.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
}

.carousel-item {
  align-content: center;
  text-align: center;
  max-width: 100vw;
}

.carousel-image {
  object-fit: cover;
  max-width: 100%;
  border-radius: 1em;
  align-content: center;

  height: 40em;

  @media (max-width: 768px) {
    height: 20em;
  }
}
