<div class="splash-image"></div>
<div class="container">
  @defer (when !!groep() && !!afgelopenVoorstellingen() &&
  aankomendeVoorstelling() !== undefined ) {
  <div class="row mat-elevation-z2">
    <span class="text-center display-1">{{ groep()?.naam }}</span>
    <mat-divider class="divider"></mat-divider>
    <div class="pt-4 row">
      <div class="col-lg-3 col-12">
        @if(firstImg){
        <img
          class="img-fluid groep-image"
          alt="group image"
          ngSrc="{{ firstImg }}"
          priority
          width="500"
          height="300"
        />} @else {
        <img
          class="img-fluid groep-image"
          alt="group image"
          src="/assets/Place-Holder-Image.jpg"
        />
        }
      </div>
      <div class="col-lg-9 col-12 pt-2">
        <div [innerHTML]="groep()?.omschrijving"></div>
      </div>
    </div>
  </div>

  <div class="row mat-elevation-z2">
    @if(slides.length > 0) {
    <mdb-carousel
      [controls]="false"
      [indicators]="true"
      [animation]="'slide'"
      [interval]="5000"
      [ride]="true"
      [wrap]="true"
    >
      @for (slide of slides; track $index) {
      <mdb-carousel-item class="carousel-item">
        <img class="carousel-image" [src]="slide.src" [alt]="slide.title" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </mdb-carousel-item>
      }
    </mdb-carousel>
    }
  </div>

  @if (spelers(); as spelers) {
  <div class="mat-elevation-z2">
    <p class="display-6">Spelers</p>
    <mat-list>
      @for (speler of spelers; track $index) {
      <mat-list-item>
        <span matListItemTitle
          ><i>{{ speler.naam }}</i></span
        >
      </mat-list-item>
      }
    </mat-list>
  </div>
  } @if(aankomendeVoorstelling(); as voorstelling){
  <div class="row pt-4">
    <h2 class="mat-elevation-z2 text-center">Aankomende voorstelling</h2>
  </div>
  <div class="row">
    <div class="flex justify-content-center">
      <app-voorstelling-card
        [voorstelling]="voorstelling"
        class="col-md-6 col-12"
      >
      </app-voorstelling-card>
    </div>
  </div>

  } @for (item of afgelopenVoorstellingen(); track $index) {
  <div class="row">
    <h2 class="mat-elevation-z2 text-center">Afgelopen voorstellingen</h2>
  </div>
  <div class="row">
    <app-voorstelling-card
      [voorstelling]="item"
      class="col-12 col-md-6 col-lg-4 mb-4 d-flex flex-grow-1"
    >
    </app-voorstelling-card>
  </div>
  } } @placeholder {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
