<div class="container mt-4 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-12">
      <mat-card class="flex flex-grow-1">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Login </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="row gap-4">
          <mat-form-field class="col-md-6 col-12">
            <mat-label>E-mail of Gebruikersnaam</mat-label>
            <input matInput type="email" [(ngModel)]="usernameOrEmail" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-12">
            <mat-label>Wachtwoord</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="password"
            /> </mat-form-field
          ><mat-card-actions>
            <button
              color="primary"
              style="flex: 1"
              mat-raised-button
              [disabled]="!formIsValid"
              (click)="login()"
            >
              Login
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<pre>
    {{ authService.userData() | json }}
</pre>
