:host {
  display: flex;
  flex-direction: column;

  ::ng-deep {
    mat-drawer-container {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
    }

    .mat-drawer-content {
      flex: 1;
      display: flex;
    }
  }
}

.router-content {
  display: block;
  margin-bottom: 5em;
  margin-top: 5em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  margin-top: auto;
  align-self: flex-end;

  &.container-fluid {
    padding: 0;
  }
}

.sidenav {
  margin-top: 5em;
  padding: 0.1rem;
}

.drawer-content {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
}

mat-icon {
  transform: scale(1.5);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

li {
  list-style: none;
  display: flex;
  width: 100%;

  .active {
    color: white;
    background-color: #ae1545;
  }

  :hover {
    color: white;
    background-color: #ae1545;
  }
}

a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  gap: 0.5em;
  // align-items: center;
  justify-content: space-evenly;
}
