<header>
  <app-navbar></app-navbar>
</header>

<mat-drawer-container autosize [hasBackdrop]="false">
  @if (breakpointService.isDesktopScreen()) {
  <mat-drawer #drawer class="sidenav bg-light" mode="side">
    <div class="drawer-content">
      <sidenav></sidenav>
    </div>
  </mat-drawer>
  } @else {
  <mat-drawer #drawer class="sidenav bg-light" mode="over">
    <div class="drawer-content">
      <sidenav></sidenav>
    </div>
  </mat-drawer>
  }

  <div class="drawer-content">
    <div class="router-content">
      @if(authService.isLoggedIn()) {
      <li class="side-menu-toggle">
        @if (sideDrawerService.isOpen()) {
        <button class="nav-link" mat-icon-button (click)="toggle()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        } @else {
        <button class="nav-link" mat-icon-button (click)="toggle()">
          <mat-icon>more_vert</mat-icon>
        </button>
        }
      </li>
      }
      <router-outlet />
    </div>
    <footer class="container-fluid">
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>

<app-cookie-banner></app-cookie-banner>