
<header>
    <app-navbar></app-navbar>
</header>

<mat-drawer-container autosize [hasBackdrop]="false">
    <mat-drawer #drawer class="sidenav bg-light" mode="side">
        <div class="drawer-content">
            <sidenav></sidenav>
        </div>
    </mat-drawer>

    <div class="drawer-content">
        <div class="router-content">

            @if (authService.isLoggedIn())
            {
            @if (sideDrawerService.isOpen()) {
            <button mat-button (click)="toggle()">
                <mat-icon>chevron_left</mat-icon> Sluit leden paneel
            </button>
            } @else {
            <button mat-button (click)="toggle()">
                <mat-icon>chevron_right</mat-icon> Open leden paneel
            </button>
            }
            }
            <router-outlet />
        </div>

        <footer class="container-fluid">
            <app-footer></app-footer>
        </footer>
    </div>
</mat-drawer-container>
