<div class="container header">
  <h2 mat-dialog-title class="display-4">Reservering Aanpassen</h2>
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container p-4">
  <div class="row">
    <form #reserveringForm="ngForm">
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Voornaam</mat-label>
          <input
            matInput
            type="text"
            name="voornaam"
            maxlength="30"
            tabindex="0"
            required
            [(ngModel)]="voornaam"
            #voornaamField="ngModel"
            [disabled]="kassaOnlyMode"
          />
          @if (voornaamField.touched && voornaamField.invalid) { @for (error of
          getFieldErrors(voornaamField); track error) {
          <mat-error>{{ error }}</mat-error>
          } }
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Achternaam</mat-label>
          <input
            matInput
            type="text"
            name="achternaam"
            required
            [(ngModel)]="achternaam"
            #achternaamField="ngModel"
            [disabled]="kassaOnlyMode"
          />
          @if (achternaamField.touched && achternaamField.invalid) { @for (error
          of getFieldErrors(achternaamField); track error) {
          <mat-error>{{ error }}</mat-error>
          } }
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-6">
          Datum 1:
          <p>{{ datum1?.toString() | amsterdamDate:'dd LLLL yyyy' }}</p>
        </div>
        <mat-form-field class="col-6">
          <mat-label>Tickets datum 1</mat-label>
          <input
            matInput
            type="number"
            name="datum_tijd_1_aantal"
            required
            min="0"
            [(ngModel)]="datum_tijd_1_aantal"
            #datum1AantalField="ngModel"
          />
          @if (datum1AantalField.touched && datum1AantalField.invalid) { @for
          (error of getFieldErrors(datum1AantalField); track error) {
          <mat-error>{{ error }}</mat-error>
          } }
        </mat-form-field>
        <div class="col-6">
          Datum 2:
          <p>{{ datum2?.toString() | amsterdamDate:'dd LLLL yyyy' }}</p>
        </div>
        <mat-form-field class="col-6">
          <mat-label>Tickets datum 2</mat-label>
          <input
            matInput
            type="number"
            name="datum_tijd_2_aantal"
            required
            min="0"
            [(ngModel)]="datum_tijd_2_aantal"
            #datum2AantalField="ngModel"
          />
          @if (datum2AantalField.touched && datum2AantalField.invalid) { @for
          (error of getFieldErrors(datum2AantalField); track error) {
          <mat-error>{{ error }}</mat-error>
          } }
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <mat-checkbox
            [(ngModel)]="is_lid_van_tovedem"
            name="is_lid_van_tovedem"
            [disabled]="kassaOnlyMode"
          >
            Vriend van Tovedem
          </mat-checkbox>
        </div>
        <div class="col-md-6 col-12">
          <mat-checkbox
            [(ngModel)]="is_lid_van_vereniging"
            name="is_lid_van_vereniging"
            [disabled]="kassaOnlyMode"
          >
            Lid van vereniging
          </mat-checkbox>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Opmerking</mat-label>
          <input
            matInput
            type="text"
            name="opmerking"
            [(ngModel)]="opmerking"
            [disabled]="kassaOnlyMode"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button mat-stroked-button mat-dialog-close class="flex-grow-1">
            <mat-icon>arrow_back</mat-icon>
            Terug
          </button>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button
            mat-flat-button
            color="primary"
            type="button"
            class="flex-grow-1"
            [disabled]="loading() || !formIsValid()"
            (click)="submit()"
          >
            Opslaan
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
