
<h2 mat-dialog-title class="display-4">Voorstelling Aanmaken</h2>
<div mat-dialog-content class="container p-4">
    <div class="row">
        <form (ngSubmit)="submit()">
            <div class="row">
                <mat-form-field class="col-md-6 col-12">
                    <mat-label>Voornaam</mat-label>
                    <input matInput type="text" name="voornaam" maxlength="30"
                        tabindex="0"
                        required
                        [(ngModel)]="voornaam">
                </mat-form-field>
                <mat-form-field class="col-md-6 col-12">
                    <mat-label>Achternaam</mat-label>
                    <input matInput type="text" name="achternaam" required
                        [(ngModel)]="achternaam">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-3 col-6">
                    <mat-label>{{datum1}}</mat-label>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-6">
                    <mat-label>Tickets datum 1</mat-label>
                    <input matInput type="text" name="datum_tijd_1_aantal" required
                        [(ngModel)]="datum_tijd_1_aantal">
                </mat-form-field>
                <mat-form-field class="col-md-3 col-6">
                    <mat-label>{{datum2}}</mat-label>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-6">
                    <mat-label>Tickets datum 2</mat-label>
                    <input matInput type="text" name="datum_tijd_2_aantal" required
                        [(ngModel)]="datum_tijd_2_aantal">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6 col-12">
                    <mat-label>Lid van Tovedem</mat-label>
                    <mat-checkbox
                                [checked]="is_lid_van_tovedem"
                                disabled>
                    </mat-checkbox>
                </mat-form-field>
                <mat-form-field class="col-md-6 col-12">
                    <mat-label>Speler van tovedem</mat-label>
                    <mat-checkbox
                                [checked]="is_lid_van_vereniging"
                                disabled>
                    </mat-checkbox>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <h3>Opmerking*</h3>
                    <quill-editor [modules]="modules" name="Opmerking"
                        [(ngModel)]="opmerking"></quill-editor>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12 d-flex justify-content-center">
                    <button mat-stroked-button mat-dialog-close
                        class="flex-grow-1">
                        <mat-icon>arrow_back</mat-icon>
                        Terug
                    </button>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-center">
                    <button mat-raised-button color="primary" type="submit"
                        class="flex-grow-1"
                        [disabled]="loading() || !formIsValid()"
                        (click)="submit()">
                        Opslaan
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>