<div class="container header">
  @if (!!existingNieuws) {
  <h2 mat-dialog-title class="display-4">Nieuwsbericht Aanpassen</h2>
  } @else {
  <h2 mat-dialog-title class="display-4">Nieuwsbericht Aanmaken</h2>
  }
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container p-4">
  <div class="row">
    <form (ngSubmit)="submit()">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Titel</mat-label>
          <input
            matInput
            type="text"
            name="titel"
            tabindex="0"
            required
            [(ngModel)]="titel"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Publicatiedatum</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [(ngModel)]="publishDate"
            name="picker1"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Archiveringsdatum</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [(ngModel)]="archiveDate"
            name="picker2"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Inhoud*</h3>
          <quill-editor
            [modules]="modules"
            name="inhoud"
            [(ngModel)]="inhoud"
            [placeholder]="''"
          ></quill-editor>
        </div>
      </div>
      <div class="row">
        <h3>Afbeelding</h3>
        <app-tovedem-file-picker
          (fileUploaded)="onFileUploaded($event)"
        ></app-tovedem-file-picker>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button mat-stroked-button mat-dialog-close class="flex-grow-1">
            <mat-icon>arrow_back</mat-icon>
            Terug
          </button>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            class="flex-grow-1"
            [disabled]="loading() || !formIsValid()"
            (click)="submit()"
          >
            @if (!!existingNieuws) { Opslaan } @else { Aanmaken }
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

