 <div class="links-container">
    <ul class="links navbar-nav nav-pills nav-fill">
        <div class="d-flex w-100 justify-content-center fw-bold pt-3">
            Voorstellingen Beheer
        </div>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-reserveringen"
                [routerLinkActiveOptions]="{ exact: true }">
                Reserveringen <mat-icon>payments</mat-icon>
            </button>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-voorstellingen"
                [routerLinkActiveOptions]="{ exact: true }">
                Voorstellingen <mat-icon align>curtains</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        <div class="d-flex w-100 justify-content-center fw-bold">
            Leden Beheer
        </div>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-leden"
                [routerLinkActiveOptions]="{ exact: true }">
                Leden <mat-icon align>diversity_3</mat-icon>
            </button>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-spelers"
                [routerLinkActiveOptions]="{ exact: true }">
                Spelers <mat-icon align>groups_3</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                (click)="navigate('https://tovedem.pockethost.io/_/#/collections')">
                Admin <mat-icon>admin_panel_settings</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        <li>
            <button mat-button
                class="nav-link flex-grow-1" (click)="toggle()">
                Sluit Paneel
                <mat-icon>menu_open</mat-icon>
            </button>
        </li>
    </ul>
</div>

<!-- Ook mooi, maar anders dan de main nav -->
<!-- <mat-list role="list">
                <mat-list-item role="listitem">
                    <button mat-flat-button
                        class="w-100 d-flex justify-content-around">
                        Leden <mat-icon align>diversity_3</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-flat-button
                        class="w-100 d-flex justify-content-around">
                        Spelers <mat-icon align>groups_3</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-flat-button
                        class="w-100 d-flex justify-content-around">
                        Voorstellingen <mat-icon>curtains</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-flat-button
                        class="w-100 d-flex justify-content-around">
                        Reserveringen <mat-icon>payments</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list> -->