 <div class="links-container">
    <ul class="links navbar-nav nav-pills nav-fill">
        @if (authService.userHasAllRoles(['admin']) ||
        authService.isGlobalAdmin)
        {
        <div class="d-flex w-100 justify-content-center fw-bold pt-3">
            Voorstellingen Beheer
        </div>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-reserveringen"
                [routerLinkActiveOptions]="{ exact: true }">
                Reserveringen <mat-icon>payments</mat-icon>
            </button>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-voorstellingen"
                [routerLinkActiveOptions]="{ exact: true }">
                Voorstellingen <mat-icon>curtains</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        <div class="d-flex w-100 justify-content-center fw-bold">
            Leden Beheer
        </div>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-leden"
                [routerLinkActiveOptions]="{ exact: true }">
                Leden <mat-icon>diversity_3</mat-icon>
            </button>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-spelers"
                [routerLinkActiveOptions]="{ exact: true }">
                Spelers <mat-icon>groups_3</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                routerLink="/beheer-mails"
                [routerLinkActiveOptions]="{ exact: true }">
                Emails <mat-icon>mail</mat-icon>
            </button>
        </li>
        }
        @if (authService.isGlobalAdmin)
        {
        <li>
            <button
                mat-button
                class="nav-link flex-grow-1"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                (click)="navigate('https://pocketbase.nergy.space/_/#/collections')">
                Admin <mat-icon>admin_panel_settings</mat-icon>
            </button>
        </li>
        <li>
            <div style="width: 100%;">
                <mat-divider></mat-divider>
            </div>
        </li>
        }
    </ul>
</div>