<div class="splash-image"></div>

<div class="container mat-elevation-z2">
  <div class="display-1 justify-content-center" style="text-align: center">
    Steunen
  </div>
  <mat-divider class="divider" style="margin-bottom: 1rem"></mat-divider>
  @defer (when !!content()) {
  <div class="row">
    <div [innerHTML]="content()"></div>
  </div>
  } @placeholder {
  <div class="center p-4">
    <mat-spinner></mat-spinner>
  </div>
  } @if (!submitted()) {
  <form class="vriend-worden-form">
    <div class="row">
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Naam</mat-label>
        <input
          placeholder="Pieter Post"
          matInput
          type="text"
          [field]="vriendWordenForm.name"
        />
        @for (error of vriendWordenForm.name().errors(); track error) {
        <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          autocomplete="email"
          [field]="vriendWordenForm.email"
        />
        @if (vriendWordenForm.email().touched() &&
        vriendWordenForm.email().invalid()) {
        <mat-error>
          @for (error of vriendWordenForm.email().errors(); track error) {
          {{ error.message }}
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Onderwerp</mat-label>
        <input
          placeholder="Het Onderwerp"
          matInput
          type="text"
          [field]="vriendWordenForm.subject"
        />
        @if (vriendWordenForm.subject().touched() &&
        vriendWordenForm.subject().invalid()) {
        <mat-error>Onderwerp is verplicht</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12">
        <mat-label>Bericht</mat-label>
        <textarea
          [field]="vriendWordenForm.message"
          matInput
          rows="10"
          placeholder="Typ hier je bericht"
        ></textarea>
        @if (vriendWordenForm.message().touched() &&
        vriendWordenForm.message().invalid()) {
        <mat-error>Bericht is verplicht</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="d-flex">
      <span
        [matTooltip]="
          !vriendWordenForm().valid()
            ? 'Vul het formulier in om te verzenden'
            : ''
        "
        [matTooltipDisabled]="vriendWordenForm().valid()"
        style="display: flex; flex: 1"
      >
        <button
          class="flex"
          mat-flat-button
          (click)="verstuurVriendVanTovedemMail()"
          [disabled]="!vriendWordenForm().valid()"
        >
          Verzenden
        </button>
      </span>
    </div>
  </form>
  } @if (submitted()) {
  <mat-card
    class="success-card"
    style="text-align: center; padding: 2em; margin-top: 2em"
  >
    <mat-card-content>
      <h2 style="margin-bottom: 1em">We hebben je aanvraag ontvangen!</h2>
      <button mat-flat-button color="primary" (click)="resetForm()">
        Nog een maken?
      </button>
    </mat-card-content>
  </mat-card>
  }
</div>
