<div class="splash-image"></div>

<div class="container mat-elevation-z2">
  <div class="display-1 justify-content-center" style="text-align: center">
    Steunen
  </div>
  <mat-divider class="divider" style="margin-bottom: 1rem"></mat-divider>
  @defer (when !!content()) {
  <div class="row">
    <div [innerHTML]="content()"></div>
  </div>
  } @placeholder {
  <div class="center p-4">
    <mat-spinner></mat-spinner>
  </div>
  }
  @if (!submitted()) {
  <form class="row vriend-worden-form">
    <mat-form-field class="col-12 col-md-4">
      <mat-label>Naam</mat-label>
      <input
        placeholder="Pieter Post"
        matInput
        type="text"
        required
        name="name"
        [(ngModel)]="name"
      />
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
      <mat-label>E-mail</mat-label>
      <input
        placeholder="pieter-post@voorbeeld.nl"
        matInput
        type="email"
        required
        name="email"
        [(ngModel)]="email"
      />
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
      <mat-label>Onderwerp</mat-label>
      <input
        placeholder="Het Onderwerp"
        matInput
        type="text"
        required
        name="subject"
        [(ngModel)]="subject"
      />
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Bericht</mat-label>
      <textarea
        [(ngModel)]="message"
        matInput
        rows="10"
        required
        name="message"
        placeholder="Typ hier je bericht"
      ></textarea>
    </mat-form-field>
    <div class="d-flex">
      <span
        [matTooltip]="(!name || !email || !subject || !message) ? 'Vul het formulier in om te verzenden' : ''"
        [matTooltipDisabled]="!(!name || !email || !subject || !message)"
        style="display: flex; flex: 1;"
      >
        <button
          class="flex"
          mat-flat-button
          (click)="verstuurVriendVanTovedemMail()"
          [disabled]="!name || !email || !subject || !message"
        >
          Verzenden
        </button>
      </span>
    </div>
  </form>
  }
  @if (submitted()) {
  <mat-card class="success-card" style="text-align: center; padding: 2em; margin-top: 2em">
    <mat-card-content>
      <h2 style="margin-bottom: 1em">We hebben je aanvraag ontvangen!</h2>
      <button mat-flat-button color="primary" (click)="resetForm()">
        Nog een maken?
      </button>
    </mat-card-content>
  </mat-card>
  }
</div>
