@use "../../../../variables.scss" as *;

:host {
  ::ng-deep .container,
  ::ng-deep .container.mat-elevation-z2 {
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $spacing-24 !important;
    padding-right: $spacing-24 !important;

    @media (max-width: 1024px) {
      max-width: 900px !important;
      padding-left: $spacing-20 !important;
      padding-right: $spacing-20 !important;
    }

    @media (max-width: 768px) {
      max-width: 100% !important;
      padding-left: $spacing-12 !important;
      padding-right: $spacing-12 !important;
    }

    @media (max-width: 480px) {
      padding-left: $spacing-8 !important;
      padding-right: $spacing-8 !important;
    }
  }
}

:host {
  ::ng-deep .container,
  ::ng-deep .container.mat-elevation-z2 {
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
    @media (max-width: 1024px) {
      max-width: 900px !important;
    }
    
    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }
}

.splash-image {
  background: url("/assets/stoelen_banner.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
  margin-top: -2em;
}
