:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 2em;
}

.center {
  padding-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inline-calendar-card {
  max-width: fit-content;
  padding: 1em;
  margin: 1em;
}

// Hide native number input spinners
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
