<div class="container">
    <h1 class="mat-elevation-z2 text-center">Aankomende voorstellingen</h1>
    @defer (when voorstellingen().length > 0) {
    <div class="row">
        @for (item of voorstellingen(); track $index) {
        <app-voorstelling-card [voorstelling]="item" class="col-12 col-lg-6 col-xl-4 mb-4 d-flex flex-grow-1">
        </app-voorstelling-card>
        }
    </div>
    }
    @placeholder {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }
</div>