<div class="splash-image mb-4"></div>

<div
  class="container mat-elevation-z2 pt-2"
  style="padding-bottom: var(--spacing-4)"
>
  <div class="display-1 justify-content-center text-center">
    Contact formulier
  </div>
  <mat-divider class="divider mb-4"></mat-divider>
  <div class="contact-intro">
    <div class="intro-text">
      In het volgende formulier kunt u overige vragen stellen die bij het
      algemene e-mail adres van de Tovedem terecht komen. Heeft u een aanvraag
      om lid te worden, tovedem te steunen of voor de sintcommisie kies dan een
      van de andere aanmeldformulieren.
    </div>

    <div class="action-buttons">
      <button
        class="action-button"
        mat-icon-button
        matTooltip="Ga naar lid worden"
        routerLinkActive="active"
        routerLink="/lid-worden"
      >
        <mat-icon>person_add</mat-icon>
      </button>
      <button
        class="action-button"
        matTooltip="Ga naar steunen"
        mat-icon-button
        routerLinkActive="active"
        routerLink="/steunen"
      >
        <mat-icon>volunteer_activism</mat-icon>
      </button>
      <button
        class="action-button"
        matTooltip="Ga naar Sinterklaas"
        mat-icon-button
        routerLinkActive="active"
        routerLink="/sinterklaas"
      >
        <mat-icon>redeem</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="titel">
      <h1>
        <mat-icon>location_on</mat-icon> Schalm Oranjelaan 10, 3454 BT De Meern
      </h1>
    </div>
    @if (!submitted()) {
    <form (ngSubmit)="verstuurContactMail()" class="row contact-form">
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Volledige naam</mat-label>
        <input
          placeholder="Pieter Post"
          matInput
          name="name"
          type="text"
          required
          [(ngModel)]="name"
        />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>E-mail</mat-label>
        <input
          placeholder="pieter-post@voorbeeld.nl"
          name="email"
          required
          matInput
          type="email"
          [(ngModel)]="email"
        />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Onderwerp</mat-label>
        <input
          placeholder="Het Onderwerp"
          matInput
          name="subject"
          type="text"
          required
          [(ngModel)]="subject"
        />
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Bericht</mat-label>
        <textarea
          [(ngModel)]="message"
          matInput
          name="message"
          rows="10"
          placeholder="Typ hier je bericht"
          required
        ></textarea>
      </mat-form-field>
      <div class="d-flex submit-button-container">
        <span
          [matTooltip]="
            !name || !email || !subject || !message
              ? 'Vul het formulier in om te verzenden'
              : ''
          "
          [matTooltipDisabled]="!(!name || !email || !subject || !message)"
          style="display: flex; flex: 1"
        >
          <button
            class="flex"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            [disabled]="!name || !email || !subject || !message"
          >
            Verzenden
          </button>
        </span>
      </div>
    </form>
    } @if (submitted()) {
    <mat-card
      class="success-card"
      style="text-align: center; padding: 2em; margin-top: 2em"
    >
      <mat-card-content>
        <h2 style="margin-bottom: 1em">We hebben je aanvraag ontvangen!</h2>
        <button mat-flat-button color="primary" (click)="resetForm()">
          Nog een maken?
        </button>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
