

.titel {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;

  .active {
    color: ae1545;
    background-color: #ae1545;
  }

  :hover {
    color: ae1545;
    background-color: #ae1545;
  }
}

.splash-image {
  background: url("/assets/contact_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 12em;
  min-width: 100%;
}