<div class="container mat-elevation-z2">
    <h1>Contact formulier</h1>
    <div class="row">
        <div class="col-8">In het volgende formulier kunt u overige vragen stellen die bij het algemene e-mail adres van de Tovedem terecht komen. Heeft u een aanvraag om lid te worden, tovedem te steunen of voor de sintcommisie kies dan een van de andere aanmeldformulieren.</div>
    
        <button style="background-color: #ae1545;color:white; margin-inline: 1em;" class="col-1"
              mat-button
              data-bs-toggle="collapse"
              routerLinkActive="active"
              routerLink="/lid-worden">
              <mat-icon>person_add</mat-icon>
            </button>
            <button style="background-color: #ae1545;color:white; margin-inline: 1em;" class="col-1"
              mat-button
              data-bs-toggle="collapse"
              routerLinkActive="active"
              routerLink="/steunen">
              <mat-icon>volunteer_activism</mat-icon>
            </button>
            <button style="background-color: #ae1545;color:white; margin-inline: 1em;" class="col-1"
              mat-button
              data-bs-toggle="collapse"
              routerLinkActive="active"
              routerLink="/sinterklaas">
              <mat-icon>redeem</mat-icon>
            </button>
    </div>
    <div style="margin-top: 2em;" class="row">
        <div class="col-12">
            <div class="titel">
                <h1> <mat-icon>location_on</mat-icon> Schalm Oranjelaan 10, 3454 BT De Meern</h1>
            </div>
            <mat-form-field class="col-12">
                <mat-label>Naam</mat-label>
                <input placeholder="Pieter Post" matInput type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>E-mail</mat-label>
                <input placeholder="pieter-post@voorbeeld.nl" matInput type="email" [(ngModel)]="email">
            </mat-form-field>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Onderwerp</mat-label>
                    <input placeholder="Het Onderwerp" matInput type=" text" [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <mat-form-field style="flex: 1;">
                    <mat-label>Bericht</mat-label>
                    <textarea [(ngModel)]="message" matInput rows="10" placeholder="Type hier je bericht"></textarea>
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <button style="flex: 1;" mat-raised-button (click)="verstuurContactMail()">Verzenden</button>
            </div>
        </div>
    </div>
</div>