<div class="splash-image mb-4"></div>

<div
  class="container mat-elevation-z2 pt-2"
  style="padding-bottom: var(--spacing-4)"
>
  <div class="display-1 justify-content-center text-center">
    Contact formulier
  </div>
  <mat-divider class="divider mb-4"></mat-divider>
  <div class="contact-intro">
    <div>
      In het volgende formulier kunt u overige vragen stellen die bij het
      algemene e-mail adres van de Tovedem terecht komen.
    </div>
    <span class="intro-text bordered"
      ><i>
        Heeft u een aanvraag om lid te worden, tovedem te steunen of voor de
        sintcommisie? <br />Kies dan een van de andere aanmeldformulieren rechts
        van deze tekst.
      </i>
    </span>

    <div class="action-buttons">
      <button
        class="action-button"
        mat-icon-button
        matTooltip="Lid worden"
        routerLinkActive="active"
        routerLink="/lid-worden"
      >
        <mat-icon>person_add</mat-icon>
      </button>
      <button
        class="action-button"
        matTooltip="Steunen"
        mat-icon-button
        routerLinkActive="active"
        routerLink="/steunen"
      >
        <mat-icon>volunteer_activism</mat-icon>
      </button>
      <button
        class="action-button"
        matTooltip="Sinterklaas"
        mat-icon-button
        routerLinkActive="active"
        routerLink="/sinterklaas"
      >
        <mat-icon>redeem</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="titel">
      <h1>
        <mat-icon>location_on</mat-icon> Schalm Oranjelaan 10, 3454 BT De Meern
      </h1>
    </div>
    <div class="row mb-4" style="justify-content: center">
      <div class="col-12 col-md-8 col-lg-8">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.8729543750964!2d5.03817722419667!3d52.08038841496903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c665571d884b77%3A0x26f158dccb3b7da0!2sthe%20Schalm!5e0!3m2!1sen!2snl!4v1764534116377!5m2!1sen!2snl"
          width="100%"
          height="300"
          style="border: 0; border-radius: 8px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="Locatie van De Schalm"
        ></iframe>
      </div>
    </div>
    @if (!submitted()) {
    <form class="row contact-form">
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Volledige naam</mat-label>
        <input
          placeholder="Pieter Post"
          matInput
          type="text"
          [field]="contactForm.name"
        />
        @if (contactForm.name().touched() && contactForm.name().invalid()) {
        <mat-error>Naam is verplicht</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>E-mail</mat-label>
        <input
          placeholder="pieter-post@voorbeeld.nl"
          matInput
          type="email"
          autocomplete="email"
          [field]="contactForm.email"
        />
        @if (contactForm.email().touched() && contactForm.email().invalid()) {
        <mat-error>
          @for (error of contactForm.email().errors(); track error) {
          {{ error.message }}
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <mat-label>Onderwerp</mat-label>
        <input
          placeholder="Het Onderwerp"
          matInput
          type="text"
          [field]="contactForm.subject"
        />
        @if (contactForm.subject().touched() && contactForm.subject().invalid())
        {
        <mat-error>Onderwerp is verplicht</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Bericht</mat-label>
        <textarea
          [field]="contactForm.message"
          matInput
          rows="10"
          placeholder="Typ hier je bericht"
        ></textarea>
        @if (contactForm.message().touched() && contactForm.message().invalid())
        {
        <mat-error>Bericht is verplicht</mat-error>
        }
      </mat-form-field>
      <div class="d-flex submit-button-container">
        <span
          [matTooltip]="
            !contactForm().valid() ? 'Vul het formulier in om te verzenden' : ''
          "
          [matTooltipDisabled]="contactForm().valid()"
          style="display: flex; flex: 1"
        >
          <button
            class="flex"
            mat-flat-button
            [color]="'primary'"
            type="button"
            (click)="verstuurContactMail()"
            [disabled]="!contactForm().valid()"
          >
            Verzenden
          </button>
        </span>
      </div>
    </form>
    } @if (submitted()) {
    <mat-card
      class="success-card"
      style="text-align: center; padding: 2em; margin-top: 2em"
    >
      <mat-card-content>
        <h2 style="margin-bottom: 1em">We hebben je aanvraag ontvangen!</h2>
        <button mat-flat-button color="primary" (click)="resetForm()">
          Nog een maken?
        </button>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
