#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.total-display {
  text-align: center;
  margin-bottom: 1rem;

  h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
}

:host {
  min-width: 380px;
  min-height: 380px;
}
