.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: #ffffff !important;
}

button {
  color: #ffffff !important;

  .mdc-button__label {
    color: #ffffff !important;
  }

  mat-icon {
    color: #ffffff !important;
  }
}
