<div class="container">
    <h1 class= "mat-elevation-z2 text-center">Agenda</h1>
    
    @defer (when voorstellingenLong().length > 0) {
    <div class="row">
        @for (item of voorstellingenLong(); track $index) {
            <div class="col-12 mb-2 row justify-content-center">
                <app-voorstelling-line [voorstelling]="item" class="line col-11"></app-voorstelling-line>
            </div>
            }
    </div>
    }

    
    <h1 class="mat-elevation-z2 text-center">Aankomende voorstellingen</h1>
    @defer (when voorstellingenShort().length > 0) {
    <div class="row">
        @for (item of voorstellingenShort(); track $index) {
        <app-voorstelling-card [voorstelling]="item" class="col-12 col-lg-6 col-xl-4 mb-4 d-flex flex-grow-1">
        </app-voorstelling-card>
        }
    </div>
    }
    @placeholder {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }
</div>