<div class="container-fluid sponsors">
  <h2 class="text-center justify-content-center">Sponsoren</h2>
  <div class="row sponsors-container">
    @for (sponsorLogo of sponsorLogos(); track sponsorLogo.id) {
    <img
      mat-card-image
      class="sponsor-image"
      [ngSrc]="getImageUrl(sponsorLogo)"
      width="281"
      height="84"
      [alt]="'sponsor ' + sponsorLogo.id"
    />
    }
  </div>
</div>

<div
  class="container-fluid links"
  style="display: flex; flex-flow: row wrap; justify-content: space-evenly"
>
  <div class="col-4 link-row d-flex">
    <div class="justify-content-center d-flex row">
      <h2><mat-icon>pin_drop</mat-icon> Adres</h2>
      <a
        href="https://maps.app.goo.gl/dd9fe7p2udocU298A"
        target="_blank"
        class="adres"
        matTooltip="Open Google Maps"
      >
        <span>
          De Schalm<br />
          Orangjelaan 10<br />
          3454 BT<br />
          De Meern
        </span>
      </a>
    </div>
  </div>
  <div class="col-4 link-row d-flex">
    <div class="justify-content-center d-flex row">
      <h2><mat-icon>map</mat-icon> Links</h2>
      <ul>
        <li>
          <button
            mat-button
            (click)="navigateTo(['/'])"
            (keydown.enter)="navigateTo(['/'])"
            role="link"
          >
            Reserveren
          </button>
        </li>
        <li>
          <button
            mat-button
            (click)="navigateTo(['/lid-worden'])"
            (keydown.enter)="navigateTo(['/lid-worden'])"
            role="link"
          >
            Lid worden
          </button>
        </li>
        <li>
          <button
            mat-button
            (click)="navigateTo(['/contact'])"
            (keydown.enter)="navigateTo(['/contact'])"
            role="link"
          >
            Contact
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-4 link-row d-flex">
    <div class="justify-content-center d-flex row">
      <h2><mat-icon>language</mat-icon> Social Media</h2>
      <ul>
        <li>
          <button
            mat-button
            (click)="navigateToInstagram()"
            (keydown.enter)="navigateToInstagram()"
            role="link"
          >
            Instagram
          </button>
        </li>
        <li>
          <button
            mat-button
            (click)="navigateToFaceBook()"
            (keydown.enter)="navigateToFaceBook()"
            role="link"
          >
            Facebook
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid privacy">
  <a class="privacy-link" href="/PrivacyBeleid"
    ><span>Privacybeleid / &#64;{{ currentYear }} Tovedem</span></a
  >
  <a
    class="service-status"
    href="https://kuma.nergy.space/status/tovedem"
    target="_blank"
    >Service status</a
  >
</div>
