:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.links {
  padding-top: 2em;
  background-color: black;
  color: white;
}

.link-row {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.privacy {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  background-color: #232323;
  color: white;

  .service-status {
    margin-left: auto;
    color: white;
    &:hover {
      color: #ae1545 !important;
    }
  }

  a {
    color: white;

    :visited {
      color: white;
    }
  }
  .privacy-link {
    &:hover {
      color: #ae1545 !important;
    }
  }
}

img {
  border-radius: 1em;
}

.sponsors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  place-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sponsors {
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
}

.sponsor-image {
  flex: 0;
  max-height: 10em;
  width: auto;
  margin: 0.5em;
  width: 281px;
  height: 84px;
}

.container {
  padding-bottom: 0;
}

ul {
  list-style-type: none;
  cursor: pointer;

  li {
    text-decoration: underline;

    &:hover {
      color: #ae1545;
    }

    mat-icon {
      color: white;
    }
  }
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.adres {
  color: white;
  text-decoration: underline;
  &:hover {
    color: #ae1545 !important;
  }
}

button {
  color: white !important;
  &:hover {
    color: #ae1545 !important;
  }
}
