
<div class="container mat-elevation-z2 ">
<h2 class="wp-block-heading">Wie zijn we</h2>
<p>Ons site adres is: https://www.tovedem.nl.</p>
<h2 class="wp-block-heading">Reacties</h2>
<p>Als bezoekers reacties achterlaten op de site, verzamelen we de gegevens getoond in het reactieformulier, het
    IP-adres van de bezoeker en de browser user agent om te helpen spam te detecteren.</p>
<p>Een geanonimiseerde string, gemaakt op basis van je e-mailadres (dit wordt ook een hash genoemd) kan worden gestuurd
    naar de Gravatar dienst indien je dit gebruikt. De privacybeleid pagina van de Gravatar dienst kun je hier vinden:
    https://automattic.com/privacy/. Nadat je reactie is goedgekeurd, is je profielfoto publiekelijk zichtbaar in de
    context van je reactie.</p>
<h2 class="wp-block-heading">Media</h2>
<p>Als je een geregistreerde gebruiker bent en afbeeldingen naar de site upload, moet je voorkomen dat je afbeeldingen
    uploadt met daarin EXIF GPS locatie gegevens. Bezoekers van de site kunnen de afbeeldingen van de site downloaden en
    de locatiegegevens inzien.</p>
<h2 class="wp-block-heading">Cookies</h2>
<p>Wanneer je een reactie achterlaat op onze site, kun je aangeven of je naam, je e-mailadres en site in een cookie
    opgeslagen mogen worden. Dit doen we voor je gemak zodat je deze gegevens niet opnieuw hoeft in te vullen voor een
    nieuwe reactie. Deze cookies zijn een jaar lang geldig.</p>
<p>Indien je onze inlogpagina bezoekt, slaan we een tijdelijke cookie op om te controleren of je browser cookies
    accepteert. Deze cookie bevat geen persoonlijke gegevens en wordt verwijderd zodra je je browser sluit.</p>
<p>Zodra je inlogt, zullen we enkele cookies bewaren in verband met je login informatie en schermweergave opties. Login
    cookies zijn 2 dagen geldig en cookies voor schermweergave opties 1 jaar. Als je &#8220;Herinner mij
    &#8221;selecteert, wordt je login 2 weken bewaard. Zodra je uitlogt van je account, worden login cookies verwijderd.
</p>
<p>Wanneer je een bericht wijzigt of publiceert wordt een aanvullende cookie door je browser opgeslagen. Deze cookie
    bevat geen persoonlijke data en heeft enkel het post ID van het artikel wat je hebt bewerkt in zich. Deze cookie is
    na een dag verlopen.</p>
<h2 class="wp-block-heading">Ingesloten inhoud van andere sites</h2>
<p>Berichten op deze site kunnen ingesloten inhoud bevatten (bijvoorbeeld video &#8217;s, afbeeldingen, berichten,
    enz.). Ingesloten inhoud van andere sites gedraagt zich exact hetzelfde alsof de bezoeker deze andere site heeft
    bezocht.</p>
<p>Deze sites kunnen gegevens over je verzamelen, cookies gebruiken, extra tracking van derde partijen insluiten en je
    interactie met deze ingesloten inhoud monitoren, inclusief het vastleggen van de interactie met ingesloten inhoud
    als je een account hebt en ingelogd bent op die site.</p>
<h2 class="wp-block-heading">Met wie we je gegevens delen</h2>
<p>Als je een wachtwoord reset aanvraagt, wordt je IP-adres opgenomen in de reset e-mail.</p>
<h2 class="wp-block-heading">Hoelang we je gegevens bewaren</h2>
<p>Wanneer je een reactie achterlaat dan wordt die reactie en de metadata van die reactie voor altijd bewaard. Op deze
    manier kunnen we vervolgreacties automatisch herkennen en goedkeuren in plaats van dat we ze moeten modereren.</p>
<p>Voor gebruikers die zich op onze site registreren (indien aanwezig), slaan we ook de persoonlijke informatie op die
    ze verstrekken in hun gebruikersprofiel. Alle gebruikers kunnen op ieder moment hun persoonlijke informatie
    bekijken, bewerken of verwijderen (behalve dat ze hun gebruikersnaam niet kunnen wijzigen). Site beheerders kunnen
    deze informatie ook bekijken en bewerken.</p>
<h2 class="wp-block-heading">Welke rechten je hebt over je gegevens</h2>
<p>Als je een account hebt op deze site of je hebt reacties achter gelaten, kan je verzoeken om een exportbestand van je
    persoonlijke gegevens die we van je hebben, inclusief alle gegevens die je ons opgegeven hebt. Je kan ook verzoeken
    dat we alle persoonlijke gegevens die we van je hebben wissen. Dit bevat geen gegevens die we verplicht moeten
    bewaren in verband met administratieve, wettelijke of beveiligings doeleinden.</p>
<h2 class="wp-block-heading">Waar we je gegevens naartoe sturen</h2>
<p>Mogelijk worden reacties van bezoekers gecontroleerd via een geautomatiseerde spamdetectie service.</p>
</div>