<div class="niet-gevonden-wrapper">
  <mat-card class="niet-gevonden-card mat-elevation-z4">
    <mat-card-content class="niet-gevonden-content">
      <div class="fout-code">404</div>
      <mat-icon class="gordijn-icoon">theater_comedy</mat-icon>
      <h1 class="titel">Pagina niet gevonden</h1>
      <p class="omschrijving">
        Het gordijn is dicht. Deze pagina bestaat niet (meer) of is verplaatst.
      </p>
      <a mat-flat-button routerLink="/" class="terug-knop">
        <mat-icon>home</mat-icon>
        Terug naar de homepage
      </a>
    </mat-card-content>
  </mat-card>
</div>
