/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "variables.scss" as *;
@use "mdb-angular-ui-kit/assets/scss/mdb.scss" as *;
@use "ngx-toastr/toastr" as *;
@use "quill/dist/quill.snow.css";
@use "tovedem-theme-m3.scss" as *;

// $custom-light-theme: mat.m2-define-light-theme(
//   (
//     color: (
//       primary: (
//         default: $primary-color,
//       ),
//       accent: (
//         default: #424242,
//       ),
//       tovGreen: (
//         default: #68a357,
//       ),
//       tovYellow: (
//         default: #f4e409,
//       ),
//       tovOrange: (
//         default: #eeba0b,
//       ),
//       tovBlue: (
//         default: #90f1ef,
//       ),
//     ),
//   )
// );

// $custom-dark-theme: mat.m2-define-dark-theme(
//   (
//     color: (
//       primary: (
//         default: $primary-color,
//       ),
//       accent: (
//         default: #424242,
//       ),
//       tovGreen: (
//         default: #68a357,
//       ),
//       tovYellow: (
//         default: #f4e409,
//       ),
//       tovOrange: (
//         default: #eeba0b,
//       ),
//       tovBlue: (
//         default: #90f1ef,
//       ),
//     ),
//     background-color: (
//       default: #000,

//     ),
//   )
// );

:root {
  --mdc-elevated-card-container-elevation: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

html {
  @include mat.theme(
    (
      color: $primary-palette,
      typography: "Roboto",
      density: 0,
    ),
    // $overrides: ()
  );

  // @include mat.theme-overrides(
  //   (
  //     "--mat-sys-primary": $primary-color,
  //     "--mat-sys-on-primary": $primary-color,
  //   )
  // );

  // @include mat.button-overrides((// protected-label-text-color: black,));
}
// --mdc-protected-button-label-text-color
.darkMode {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        theme-type: dark,
      ),
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
}

a {
  color: $primary-color;
  :visited {
    color: $primary-color;
  }
}

.flex {
  flex: 1;
  display: flex;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mat-elevation-z3 {
  padding: 0.5em;
  border-radius: 1em;
}

.mat-elevation-z2 {
  padding: 1em;
  border-radius: 1em;
}

.mat-elevation-z1 {
  padding: 0.5em;
  border-radius: 1em;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

body > ngx-material-timepicker-container {
  --dial-background-color: $primary-color !important;
  --button-color: $primary-color !important;
  --dial-editable-active-color: $primary-color !important;
  --clock-hand-color: $primary-color !important;
}

.timepicker__header {
  --dial-background-color: $primary-color !important;
  --button-color: $primary-color !important;
  --dial-editable-active-color: $primary-color !important;
  --clock-hand-color: $primary-color !important;
}

.divider {
  border-width: 2px !important;
  border-color: $primary-color !important;
}
