/* You can add global styles to this file, and also import other style files */

:root {
  --mdc-elevated-card-container-elevation: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

  --mdc-circular-progress-active-indicator-color: #da3c5e;
  --mat-datepicker-calendar-date-selected-state-background-color: #da3c5e;
  --mdc-protected-button-container-color: #da3c5e;
  --mdc-protected-button-label-text-color: white;
  --mat-protected-button-state-layer-color: white;
  --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
}

a {
  color: #da3c5e;
  :visited {
    color: #982b43;
  }
}

.flex {
  flex: 1;
  display: flex;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mat-elevation-z2 {
  padding: 1em;
  border-radius: 1em;
}
