<div class="container">
  <mat-dialog-content class="d-flex justify-content-center align-items-center">
    <img [src]="getFileUrl()" alt="Afbeelding" (load)="loading.set(false)" />

    @if(loading()){
    <mat-spinner></mat-spinner>
    }
  </mat-dialog-content>
  @if(!loading()){
  <mat-dialog-actions class="d-flex justify-content-between actions">
    <button mat-button (click)="onLeftArrowDown()">
      <mat-icon>arrow_back</mat-icon> Vorige - pijltjes toets naar links
    </button>

    <div>
      <button mat-button mat-dialog-close (click)="onEscapeDown()">
        <mat-icon>close</mat-icon> Sluiten - escape toets
      </button>
      <button mat-button (click)="onEnterDown()">
        <mat-icon>aspect_ratio</mat-icon> Openen - enter toets (+ctrl in
        achtergrond)
      </button>
    </div>

    <button mat-button (click)="onRightArrowDown()">
      Volgende - pijltjes toets naar rechts
      <mat-icon iconPositionEnd>arrow_forward</mat-icon>
    </button>
  </mat-dialog-actions>
  }
</div>
