<div class="container header">
  <h2 mat-dialog-title class="display-4">Speler Aanpassen</h2>
  <button
    mat-icon-button
    aria-label="close dialog"
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="container p-4">
  <div class="row">
    <form #spelerForm="ngForm">
      <mat-form-field class="col-12">
        <mat-label>Speler Naam</mat-label>
        <input
          placeholder="Speler naam"
          matInput
          type="text"
          name="spelerNaam"
          required
          [(ngModel)]="speler.naam"
          #naamField="ngModel"
        />
        @if (naamField.touched && naamField.invalid) {
          @for (error of getFieldErrors(naamField); track error) {
            <mat-error>{{ error }}</mat-error>
          }
        }
      </mat-form-field>
      <button
        class="col-12"
        style="height: 4em"
        mat-flat-button
        color="primary"
        type="button"
        [disabled]="!formIsValid()"
        (click)="return()"
      >
        <span>Aanpassen</span>
      </button>
    </form>
  </div>
</div>
