:host {
  ::ng-deep .container,
  ::ng-deep .container.mat-elevation-z2 {
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
    @media (max-width: 1024px) {
      max-width: 900px !important;
    }
    
    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }
}

.splash-image {
  background: url("/assets/lidworden_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
  margin-top: -2em;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  object-fit: cover; // center the image nicely containing aspect ratio
  object-position: top; // view the top of the image
  max-width: 100%; // fill the flex container

  border-radius: 1em;
  height: 20em;
}

// Ensure scroll button uses primary blue color
.mat-mdc-fab[color="primary"],
button[mat-fab][color="primary"] {
  background-color: #7db3e8 !important;
  color: #ffffff !important;
  
  mat-icon {
    color: #ffffff !important;
  }
  
  &:hover {
    background-color: #6aa3d8 !important;
  }
}
