.splash-image {
  background: url("/assets/lidworden_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 14em;
  min-width: 100%;
  margin-bottom: 2em;
  margin-top: -2em;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  object-fit: cover; // center the image nicely containing aspect ratio
  max-width: 100%; // fill the flex container

  border-radius: 1em;
  height: 20em;
}
