<div class="container mat-elevation-z2">
  <div class="row align-items-center justify-content-evenly">
    @if(!!voorstelling().datum_tijd_1 && !!voorstelling().datum_tijd_2){
    <div class="dateFormat col-lg-3 col-md-6 col-12">
      <div class="display-6" style="margin-right: 1rem">
        <span>
          {{ voorstelling().datum_tijd_1 | date : "dd" }}
        </span>
        <mat-divider></mat-divider>
        <span>
          {{ voorstelling().datum_tijd_2 | date : "dd" }}
        </span>
      </div>
      <span class="display-4">
        {{ voorstelling().datum_tijd_1 | date : "LLLL" }}
      </span>
    </div>
    }

    <span class="col-lg-5 col-md-5 col-4 display-6">{{
      voorstelling().expand.groep.naam
      }}</span>

    @if(inToekomst()) {
    <app-nav-button
      class="col-lg-2 col-md-2 col-6"
      [navigationParts]="['/reserveren']"
      [queryParams]="{ voorstelling: this.voorstelling().id }">
      Reserveren
    </app-nav-button>
    }
    <!-- voorbeeld van image als je dat wilde gebruiken 
    <div class="col-lg-2 col-md-12 col-12">
      <img class="card-image"
        [src]="getImageUrl(voorstelling().collectionId, voorstelling().id, voorstelling().afbeelding)"
        alt="voorstelling afbeelding">
    </div>-->
  </div>
</div>
